{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form" action="/03-sign-in-register/01-have-account">
		<h1 class="heading-xlarge">Do you already have a user account?</h1>
		<div class="text">
			<p class="lede">If you are unsure, choose no</p>
			
				<fieldset>
					<div class="form-group">
					  <label class="block-label" for="radio-inline-1">
					    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					    Yes
					  </label>
					  <label class="block-label" for="radio-inline-2">
					    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No" checked="checked">
					    No
					  </label>
				  </div>
				</fieldset>
		
			<!-- Primary button -->
			<div class="form-group">
				<input type="submit" class="button" value="Continue">
			</div>
		</div><!-- /text -->
	</form>
	
</main> 

{{/content}}

{{/layout}}
