{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form text" action="/03-sign-in-register/02-account-details">
	
		<h1 class="heading-xlarge">Create an account</h1>
		
		<p class="lede">Enter your contact details and create a password</p>
	
		<div class="form-group">
		  <label class="form-label" for="first-name">First name</label>
		  <input class="form-control" id="first-name" type="text">
		</div>
		<div class="form-group">
		  <label class="form-label" for="last-name">Last name</label>
		  <input class="form-control" id="last-name" type="text">
		</div>
		<div class="form-group">
		  <label class="form-label" for="email">Email address</label>
		  <input class="form-control" id="email" type="text">
		</div>
	  <div class="form-group">
		  <label class="form-label" for="email">Confirm email address</label>
		  <input class="form-control" id="confirmEmail" type="text">
	  </div>
		<div class="form-group">
			<label class="form-label" for="create-password">
			  Create password
			  <span class="form-hint">Your password must be at least 8 characters and contain at least one uppercase letter, one lowercase letter and one number</span>
			</label>
			<input class="form-control" id="create-password" type="text">
		</div>
		<div class="form-group">
		  <label class="form-label" for="re-type-password">Confirm password</label>
		  <input class="form-control" id="re-type-password" type="text">
		</div>

	
		<!-- Primary button -->
		<div class="form-group">
			<input type="submit" class="button" value="Create a user account">
		</div>
		
	</form>
	
</main> 

{{/content}}

{{/layout}}
