{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

	<form method="post" class="form" action="/03-sign-in-register/04-activate-account">
		<h1 class="heading-xlarge">Activate your account</h1>
		<div class="text">
		
			<p>We’ve sent an email to &lt;your.email@gmail.com&gt;. Use the link in the email to activate your account.</p>
			
			<p>If you’ve not received the email, check your junk email folder, or <a href="#" onclick="alert('Not yet implemented!');return false;">request another activation code</a>.</p>
			
			<p>To use this service you must activate your account.</p>
		
		</div><!-- /text -->
		<input type="submit" id="nextBtn" class="button" value="Activate account now">
	</form>
</main>

{{/content}}

{{/layout}}
