{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

	<form method="post" class="form text" action="/03-sign-in-register/04-activate-account">

		<div class="text">
			<h1 class="heading-xlarge">Activate your account</h1>

			<p>In order to use this service you must activate your account</p>
			
			<p>We have sent your activation email to <a href="#">your.email@gmail.com</a>. Use the link in your email to activate your account.</p>
			
			<p>If you have not received the email, check your email inbox or junk folder, and <a href="#" onclick="alert('Not yet implemented!');return false;">request another activation code</a>.</p> 
			
		</div>

		<input type="submit" id="nextBtn" class="button" value="Activate account now">

	</form>
</main>

{{/content}}

{{/layout}}
