{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <form method="post" class="form text" action="/03-sign-in-register/04-account-activated">

		<div class="phase-banner">
		<p>
		  <strong class="phase-tag">ALPHA</strong>
		  <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
		</p>
		</div>
		
		<h1 class="heading-xlarge">Account activated</h1>
		
		<p>Your user account has been successfully activated.</p>
	  	<p>You may wish to bookmark this page. You can then sign in whenever you want to send data to the Environment Agency.</p>

		<!-- Primary button -->
		<div class="form-group">
			<input type="submit" class="button" value="Continue">
		</div>
		
	</form>
	
</main> 

{{/content}}

{{/layout}}