{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <form method="post" class="form text">

		<div class="phase-banner">
		<p>
		  <strong class="phase-tag">ALPHA</strong>
		  <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
		</div>
		
		<h1 class="heading-xlarge">User account activated</h1>
		
		<p>Your user account has been successfully activated</p>
		
		<!-- Primary button -->
		<div class="form-group">
			<input type="submit" class="button" value="Continue">
		</div>
		
	</form>
	
</main> 

{{/content}}

{{/layout}}