{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form text" action="/03-sign-in-register/05-sign-in">
	
		<h1 class="heading-xlarge">Sign in to your account</h1>
		
		<div class="form-group">
		  <label class="form-label" for="email">Email address</label>
		  <input class="form-control" id="email" type="text">
		</div>
		
		<div class="form-group">
		  <label class="form-label" for="password">Password</label>
		  <input class="form-control" id="password" type="text">
		</div>
			
		<!-- Primary button -->
		<div class="form-group">
			<input type="submit" class="button" value="Sign in">
		</div>
	
		<p><a href="#" onclick="alert('Not yet implemented!');return false;">Forgotten your password?</a></p>
		
		<p><a href="#" onclick="alert('Not yet implemented!');return false;">Create a new account</a></p>
	</form>
	
</main>

{{/content}}

{{/layout}}