{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form action="" method="post" class="form text">
	
		<h1 class="heading-xlarge">Forgotten your password?</h1>
		
		<p class="lede">Enter the email address you used to sign in to the Data Returns service and we will email you a link to reset your password.</p>
		<div class="form-group">
		  <label class="form-label" for="email">Email address</label>
		  <input class="form-control" id="email" type="text">
		</div>
					
		<!-- Primary button -->
		<div class="form-group">
			<input type="submit" class="button" value="Send email">
		</div>

	</form>
	
</main>

{{/content}}

{{/layout}}