{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form action="" method="post" class="form text">
	
		<h1 class="heading-xlarge">Your request to reset your password has been sent</h1>
		
		<p>We have sent a link to reset your password to your.email@gmail.com.
		
		<p>If you have not received the email, check your email inbox or junk folder or we can <a href="#">send the password reset email again</a>.</p>
		
	</form>
	
</main>

{{/content}}

{{/layout}}