.table-control {
	margin-bottom:30px;
	&.table-one-half {
		width:percentage(1/2);
	}
	&.table-one-third {
		width:percentage(1/3);
	}
	&.table-two-thirds {
		width:percentage(2/3);
	}
	caption {
		@include core-24();
		text-align:left;
		margin-bottom: $gutter;
		width: 100%;
	}
	.cell-one-sixth {
		width:percentage(1/6);
	}
	.cell-one-quarter {
		width:percentage(1/4);
	}
	.cell-one-third {
		width:percentage(1/3);
	}
	.cell-one-half {
		width:percentage(1/2);
	}
	.cell-two-thirds {
		width:percentage(2/3);
	}
	.cell-three-quarters {
		width:percentage(3/4);
	}
	.cell-five-sixths {
		width:percentage(5/6);
	}
	td {
		vertical-align:top;
		p:first-child {
			margin-top:0;
		}
	}
	b {
		font-weight: bold;
	}
}



@include media(mobile) {
	.table-control {
		width:100% !important;
		&.mobile-format {
			display: block;
			margin-top: 0px;
			thead, tr, tbody, td {
				display: block;
			}
			th {
				display: none;
			}
			tr {
				border-bottom: 1px solid $grey-2;
				padding: 0.5em 0;
			}
			td {
				margin-left:percentage(1/3);
				width:percentage(2/3);
				display: inline-block;
				padding: 0.3em 0;
				border-bottom: 0;
				&:before {
					width:50%;
					display: inline-block;
					margin-left: -50%;
					font-weight: bold;
				}
				div:first-child {
					p:first-child {
					    margin-top: -20px;
					}
				}
			}
			&.corrections-table {
				.td-field-heading {
					font-weight: bold;
				}
			}
			/* Column names */
			.td-field-heading 	{ &:before { content:"Field heading: "; }}
			.td-errors 			{ &:before { content:"Errors: "; }}
			.td-correction 		{ &:before { content:"Correction: "; }}
			.td-row 			{ &:before { content:"Row number(s): "; }}
			.td-error 			{ &:before { content:"Error: "; }}
			.td-data 			{ &:before { content:"Your data: "; }}
			&.Rtn_Period {
				.name 		{ &:before { content:"Rtn_Period: "; }}
				.definition { &:before { content:"Definition: "; }}
				.example 	{ &:before { content:"Example: "; }}
			}
			&.Meth_Stand {
				.name 		{ &:before { content:"Meth_Stand: "; }}
				.notes 		{ &:before { content:"Definition: "; }}
			}
			&.Txt_Value {
				.name 		{ &:before { content:"Txt_Value: "; }}
				.aliases 	{ &:before { content:"Alternatives: "; }}
			}
			&.Parameter {
				.name 		{ &:before { content:"Parameter: "; }}
				.aliases 	{ &:before { content:"Alternatives: "; }}
				.cas 		{ &:before { content:"CAS: "; }}
			}
			&.Qualifier {
				.name 				{ &:before { content:"Qualifier: "; }}
				.notes 				{ &:before { content:"Notes: "; }}
				.type 				{ &:before { content:"Type: "; }}
				.singleOrMultiple 	{ &:before { content:"Single or multiple: "; }}
			}
			&.Ref_Period {
				.name 		{ &:before { content:"Ref_Period: "; }}
				.aliases 	{ &:before { content:"Alternatives: "; }}
				.notes 		{ &:before { content:"Notes: "; }}
			}
			&.Unit {
				.name 			{ &:before { content:"Unit: "; }}
				.aliases 		{ &:before { content:"Alternatives: "; }}
				.longName 		{ &:before { content:"Long Name: "; }}
				.type 			{ &:before { content:"Measurement Type: "; }}
				.unicode 		{ &:before { content:"Unicode: "; }}
				.description 	{ &:before { content:"Definition: "; }}
			}
		}
	}
}
