{{<layout}}
{{$head}}
{{>head}}
    {{>scripts}}
    {{>fineuploader_head}}
{{/head}}
{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{{feedbackbanner}}}
    <div id="Validation-Summary-header">
        <h1 class="heading-large">
            <span id="title">Choose your file</span>
        </h1>
    </div>

    <div class="text">
        <div class="form-group">
            <div id="uploader-container">
                <form id="uploadForm" enctype="multipart/form-data" method="post" action="/file/choose">
                    <input type="file" name="fileUpload" multiple="multiple"></input>
                    <p>
                        <input id="submit-upload" class="upload-button" type="submit" value="Upload Files" name="submit"></input>
                    </p>
                </form>
            </div>
        </div>
        <!-- /.form-group -->
    </div>
    <!-- /.text -->

    <div id="upload-list" class="upload-list">
        <div class="upload-list-title">Name of the data file to send</div>
        {{#files}}
            <div id="summary-{{{id}}}" class="file-upload-summary">
                <div class="file-upload-filename">{{{name}}}</div>
                <div class="file-upload-status file-{{{status.state}}}">{{{status.description}}}</div>
                <div class="file-upload-delete">
                    <form method="post" action="/file/choose" enctype="multipart/form-data">
                        <input type="hidden" name="action" value="remove"></input>
                        <input type="hidden" name="uuid" class="file-uuid" value="{{{id}}}"></input>
                        <input type="submit" class="remove-uuid-submit" value="Remove file"></input>
                    </form>

                </div>
                <div class="file-upload-details">
                    {{#status.moreDetailsUrl}}
                        <a href="{{{status.moreDetailsUrl}}}">More details</a>
                    {{/status.moreDetailsUrl}}
                </div>
            </div>
        {{/files}}
        {{^files}}
        <div class="upload-list-no-files">No files uploaded</div>
        {{/files}}
    </div>

    <div class="drag-drop-indicator">
        <div class="drag-drop-message">Drop your files here</div>
    </div>

    <p>
        <p id="invalid-upload-msg" {{^hasInvalidUploads}}style="display: none;"{{/hasInvalidUploads}}>
            A file you uploaded contains errors that must be corrected before you can continue.
        </p>

        <a id="continue-btn"
           class="button"
           {{#canContinue}}href="/file/confirm" {{/canContinue}}
           {{^canContinue}}disabled="disabled" {{/canContinue}}
        >Continue</a>
    </p>

    {{>fineuploader_body}}
</main>
{{/content}}
{{/layout}}