{{<layout}}
{{$head}}
{{>head}}
    {{>scripts}}
    {{>fineuploader_head}}
{{/head}}
{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{{feedbackbanner}}}
  <div id="Validation-Summary-header">
      <h1 class="heading-large">
          <span id="title">Check your file</span>
      </h1>
  </div>
  <p class="lede">Make sure you've formatted your data using the rules and saved your file as <abbr title="Comma-separated values">CSV</abbr>.</p>

  <div class="file-upload">
    <div id="uploader-container" class="uploader-container">
        <form id="uploadForm" enctype="multipart/form-data" method="post" action="/file/choose">
          <div class="form-group">
            <div class="form-control">
              <input type="file" name="fileUpload" multiple="multiple"></input>
            </div>
          </div>
          <div class="form-group">
              <input id="submit-upload" class="upload-button button-secondary" type="submit" value="Upload Files" name="submit"></input>
          </div>
        </form>
      </div>
      <!-- /.form-group -->

      <div id="upload-list" class="upload-list">
        <div class="statusbar statusbar-header">
          <div class="filename">File name</div><div class="status visually-hidden">Status</div><div class="details visually-hidden">Action</div><div class="remove visually-hidden">Remove</div>
        </div>

        {{#files}}

        <div id="summary-{{{id}}}" class="statusbar">
            <div class="filename">{{{name}}}</div><div class="status">
              <div class="file-{{{status.state}}}">{{{status.description}}}</div>
            </div><div class="details">
                {{#status.moreDetailsUrl}}
                    <a href="{{{status.moreDetailsUrl}}}"><span>More details</span></a>
                {{/status.moreDetailsUrl}}
            </div><div class="remove">
                <form method="post" action="/file/choose" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="remove"></input>
                    <input type="hidden" name="uuid" class="file-uuid" value="{{{id}}}"></input>
                    <input type="submit" class="remove-uuid-submit link" value="Remove"></input>
                </form>
            </div>
        </div>
        {{/files}}
        {{^files}}
        <div class="upload-list-no-files statusbar"><div class="filename">No files uploaded</div></div>
        {{/files}}
    </div>

    <div class="drag-drop-indicator">
        <div class="drag-drop-message">Drop your files here</div>
    </div>
    <p>
        <p id="invalid-upload-msg" {{^hasInvalidUploads}}style="display: none;"{{/hasInvalidUploads}}>
            You must correct any errors before files can be sent to the Environment Agency.
        </p>
        <a id="continue-btn"
           class="button"
           {{#canContinue}}href="/file/confirm" {{/canContinue}}
           {{^canContinue}}disabled="disabled" {{/canContinue}}
        >Continue</a>
    </p>

    {{>fineuploader_body}}
  </div><!-- /file-upload -->
</main>
{{/content}}
{{/layout}}
