{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{{feedbackbanner}}}

  
  <div id="Validation-Summary-header">
    <h1 class="heading-large">
      <span id="title">Choose your file</span>
      </span>
    </h1>
  </div>
  
 
  {{#uploadError}}
  <div id="Validation-Summary">
    <h1 class="heading-large">You can't send this file</h1>
    <div class="error-summary">
      {{{errorsummary}}}
      <hidden id="error_code" value="{{errorCode}}"></hidden>
    </div>
  </div>
  {{/uploadError}}

  <div id="Validation-Summary-empty-file"  style="display:none" >
    <h1 class="heading-large">You can't send this file</h1>
    <div class="error-summary">
      {{{emptyfilemessage}}}
      <hidden id="error_code" value="DR0500"></hidden>
    </div>
  </div>

  <div id="Validation-Summary-not-csv-file"  style="display:none">
    <h1 class="heading-large">You can't send this file</h1>
    <div class="error-summary">
      {{{notcsvmessage}}}
      <hidden id="error_code" value="DR0400"></hidden>
    </div>
  </div>

  <p class="lede">Make sure you've formatted your data using the rules and saved your file as <abbr title="Comma-separated values">CSV</abbr>.</p>

  <div class="text">
    <div class="form-group">
      <div id="statusbar-header" class="form-group" style="display:none; width:100%; box-sizing:border-box;">
        <div class="statusbar statusbar-title" style="width: 100%; display: block;">
          <div class="filename" style="width:70%; display:inline-block;">Name of data file to be checked
          </div>
          <div class="delname" style="width:30%; display:inline;">Action</div>
        </div>
        <div class='statusbar odd' style='width: 100%;'>
          <div class='filename file-label' style='width: 70%; display:inline-block;'></div>
          <div class='delname del-label' style='width: 30%; display:inline;'></div>
        </div>
      </div>

      <div id='file-upload-div' class="upload-file" >
        <p class="file-display" style="display:none;"></p>

        <form id="uploadForm" Content-Type="text/csv" enctype="multipart/form-data" method="post">
          <div class="fancy-file-button button-choose-file button-secondary" style='margin-bottom: 15px'>
            <input id="file-select-button" type="hidden" name="fileUpload">
            <span class="browse-text">Choose file</span>
          </div>
          <p>
            <input id="check-for-errors-btn" class="button" type="submit" value="Continue" name="submit" disabled>
            <span id='loading-image' style="display:none" class="checking">Checking your file...<span class="loading"><img src="/public/images/icons/loader.gif" alt="Loading"></span></span>
          </p>
        </form>
      </div>
      <!-- /.upload-file -->
    </div>
    <!-- /.form-group -->
  </div>
  <!-- /.text -->
</main>

{{/content}}

{{/layout}}
