{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{{feedbackbanner}}}

  <form method="post" class="form">
    <h1 class="heading-large">Confirm your file</h1>

    <p class="lede">The data returns file you’re going to send is about:</p>

    <div class="text panel panel-border-wide">
      {{#data}}
      <dl>
        {{#data.mappings}}
        <dt>{{#site}}{{site}}{{/site}}{{^site}}Not given{{/site}}</dt>
        {{#identifiers}}
        <dd>{{identifier}}</dd>
        {{/identifiers}}
      </dl>
      {{/data.mappings}}
      {{/data}}
    </div>

    <p>Do you need to choose a different file? <a href="/file/choose" id="details-wrong-link">Start again</a> so you can send the right file and details.</p>

    <!-- Primary button -->
    <div class="form-group confirmed" >
      <input id="continue.btn" type="button" class="button" value="Continue" onclick="location.href = '/file/check';">
    </div>

  </form>
  <div class="form-group permit-not-found" style="display:none">
    <input id="start-again-btn" type="submit" class="button" value="Start again" onclick="location.href = '/file/choose';">
  </div>
</main>

{{/content}}

{{/layout}}
