{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}
<main id="content" role="main">
    {{{feedbackbanner}}}
    <h1 class="heading-large">Confirm details</h1>

    {{#displayEaIdSubstitutionsMsg}}
        <div id="eaid-substitutions-message" class="panel panel-border-wide">
            You’ve put your permit or licence number in the EA_ID field. We’ve replaced it with the correct EA_ID to match the one we use to identify your data. Please use the replacement EA_ID in future return files. Your permit number is valid for other uses.
        </div>
    {{/displayEaIdSubstitutionsMsg}}

    <p class="lede">The data return you’re going to send is about:</p>

    <div class="text panel panel-border-wide file-summary">
      {{#files}}
        <div class="file-name">{{{name}}}</div>
        <ul>
            {{#status.server.parseResult.mappings}}
                <li class="site-name">
                    {{#site}}
                        {{site}}
                    {{/site}}
                    {{^site}}
                        Not given
                    {{/site}}
                </li>
                {{#identifiers}}
                <li class="ea-id">
                    {{#substituted}}
                        We replaced
                        <span class="submittedUniqueIdentifier">{{submittedUniqueIdentifier}}</span>
                        with
                    {{/substituted}}
                    <span class="resolvedUniqueIdentifier">{{resolvedUniqueIdentifier}}</span>
                </li>
                {{/identifiers}}
            {{/status.server.parseResult.mappings}}
        </ul>
      {{/files}}
    </div>

    <p>Do you need to choose different files? <a href="/file/choose" id="details-wrong-link">Start again</a> so you can send the right files and details.</p>

    <!-- Primary button -->
    <a id="continue.btn" href="/email" class="button" accesskey="C">Continue</a>
</main>
{{/content}}
{{/layout}}
