{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{{feedbackbanner}}}

  <form method="post" class="form">
    <h1 class="heading-large">Confirm your file</h1>
    <div class="error-summary permit-not-found" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none;">
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        Your EA unique identifier (EA_ID) isn’t recognised
      </h1>
      <p>Check that the reference you’ve given is:</p>
      <ul class="list list-bullet">
        <li>either 2 letters and 4 numbers (EPR permits) or a 5- or 6-figure number (older waste management licences)</li>
        <li>without separators, eg, slashes, or any exotic characters</li>
        <li>exactly the same as given in your original permit, licence or mineral extractions agreement</li>
      </ul>
      <p><a href="{{RegimeSpecificRules}}" rel="external" target="_blank">Find out more about how to submit the correct EA_ID</a>.</p>
      <p><a href="{{HowToFormatEnvironmentAgencyData}}" rel="external" target="_blank">Find out about formatting all your data to meet EA standards</a>.</p>
    </div>
    <div class="text multi-panel">
      <p class="lede">The data returns file you’re going to send is about:</p>

      <ul class="list">
        <li class="panel panel-border-wide">
          <p>
          <span>Site name</span><br>
          {{#returnMetaData.siteName}}
          <span class="heading-small">{{returnMetaData.siteName}}</span>
          {{/returnMetaData.siteName}}
          {{^returnMetaData.siteName}}
          <span class="heading-small">Not given</span>
          {{/returnMetaData.siteName}}
          </p>
        </li>
        <li id="permit_found" class="panel panel-border-wide permit">
          <p>
            <span>EA unique identifier</span><br>
            <span class="heading-small">{{returnMetaData.eaId}}</span>
            <!--<span class="checking">(Checking <span class="loading"><img src="/public/images/icons/loading.svg"></span>)</span>-->
          </p>
        </li>
      </ul>
    </div>
    <details class="help-text-reg">
      <summary><span class="summary">These details aren’t right</span></summary>
      <div class="panel panel-border-wide">
        <p>Do you need to choose a different file? <a href="/file/choose" id="details-wrong-link">Start again</a> so you can send the right file and details.</p>


      </div>
    </details>

    <!-- Primary button -->
    <div class="form-group confirmed" >
      <input id="continue.btn" type="button" class="button" value="Continue" onclick="location.href = '/file/check';">
    </div>

    </div><!-- /text -->
  </form>
  <div class="form-group permit-not-found" style="display:none">
    <input id="start-again-btn" type="submit" class="button" value="Start again" onclick="location.href = '/file/choose';">
  </div>
</main>

{{/content}}

{{/layout}}
