{{<layout}}

{{$title}}Confirm your email address{{/title}}

{{$content}}
<main id="content" role="main">
  {{{feedbackbanner}}}
  <h1 class="heading-large"><span id="title">{{$title}}{{/title}}</span></h1>

  <form method="post" class="form">
    <input type="hidden" name="csrf" value="{{csrf}}"/>

    {{#invalidEmailAddress}}
    <div class="error-summary">
      {{{invalidEmailAddressErrorMessage}}}
      <hidden id="error_code" value="{{errorCode}}" ></hidden>
    </div>
    {{/invalidEmailAddress}}


    <div class="text">
      {{^invalidEmailAddress}}
      <p>We need to send you a code to confirm your email address is valid.</p>
      {{/invalidEmailAddress}}


      {{#showInput}}
      {{^invalidEmailAddress}}
      <div class="form-group">
        <label class="form-label" for="email">Email address</label>
        <input class="form-control" id="email" name="user_email" type="text" autocomplete="off" autofocus="autofocus">
      </div>
      {{/invalidEmailAddress}}
      {{#invalidEmailAddress}}
      <div class="form-group error">
        <label class="form-label" for="email">Email address</label>
        <span class="error-message" id="error-message-full-name">Enter a valid email address</span>
        <input class="form-control" id="email_err" name="user_email" type="text" autocomplete="off" autofocus="autofocus">
      </div>
      {{/invalidEmailAddress}}
      {{/showInput}}

      {{^invalidEmailAddress}}
      <p>We’ll send a receipt to this email address after your data is uploaded.</p>
      <p>Find out <a href="{{links.Privacy_Policy}}">how we use your personal information</a>.</p>
      {{/invalidEmailAddress}}


      {{#showSendMailButton}}
      <div class="form-group">
        <a id="nextHref">
          <input type="submit" id="continueBtn" class="button" value="Send email" accesskey="C">
        </a>
      </div>
      {{/showSendMailButton}}
    </div>


    {{#showStartAgainButton}}
    <div class="form-group">
      <a id="startagain.btn" href="/start" class="button">Start again</a>
    </div>
    {{/showStartAgainButton}}

    <!-- /text -->
  </form>
</main>
{{/content}}
{{/layout}}
