{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{{feedbackbanner}}}

  <h1 class="heading-large">Details of errors</h1>
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    {{{errorSummary}}}
    <hidden id="error_code" value="{{errorCode}}"></hidden>
  </div>

  <p class="back">
    <a id="back.btn" class="button" href="/correction/table?uuid={{uuid}}">Back to corrections table</a>
  </p>
  <table id="errorTableHeader" class="error-table">
    <thead>
      <tr>
        <th width="50%">Error</th>
        <th width="50%">Row(s)</th>
      </tr>
    </thead>
    <tbody>
      {{#errorDetail.rowErrors}}
      <tr>
        <td>{{errorText}}</td>
        <td>{{rowText}}</td>
      </tr>
      {{/errorDetail.rowErrors}}
    </tbody>
  </table>
</main>

{{/content}}

{{/layout}}
