{{<layout}}

{{$head}}
{{>head}}
{{>scripts}}
<style>
    div.CorrectionIncorrect:before {
        content: "Your data is incorrect";
        color: #b10e1e;
        text-decoration: underline;
        font-weight: bold;
    }
    div.CorrectionMissing:before {
        content: "Your data is missing";
        color: #b10e1e;
        text-decoration: underline;
        font-weight: bold;
    }
    div.CorrectionConflicting:before {
        content: "Your data is conflicting";
        color: #b10e1e;
        text-decoration: underline;
        font-weight: bold;
    }
    div.CorrectionLength:before {
        content: "Your data is too long";
        color: #b10e1e;
        text-decoration: underline;
        font-weight: bold;
    }
</style>
{{/head}}


{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{{feedbackbanner}}}

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h1 class="heading-medium error-summary-heading">Correct {{fieldHeadingText}} errors</h1>
        {{{errorSummary}}}
        <hidden id="error_code" value="DR{{errorCode}}"></hidden>
    </div>

    <div class="form-group">
        <p class="back">
            <a id="back.btn" class="button" onclick="history.back(); return false;" href="/correction/table?uuid={{uuid}}">Back to corrections table</a>
        </p>
    </div>

    <div class="filename">
        <p><span class="label">File: </span><span class="name">{{name}}</span></p>
    </div>
    <table id="errorTableHeader" class="corrections-table">
        <thead>
        <tr>
            <th class="th-row">Row number(s)</th>
            <th class="th-error">Error</th>
            <th class="th-data">Your data</th>
        </tr>
        </thead>
        <tbody>
        {{#errorDetail.violations}}
        <tr>
            <td>{{rows}}</td>
            <td>{{errorTypeText}}</td>
            <td>{{errorValue}}</td>
        </tr>
        {{/errorDetail.violations}}
        </tbody>
    </table>
</main>
{{/content}}
{{/layout}}
