{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{{feedbackbanner}}}

    <h1 class="heading-large">You can't send this file</h1>
    <div class="error-summary" role="group" aria-labelledby="make-corrections" tabindex="-1">
        {{{errorSummary}}}
    </div>

    <p class="back">
      <a id="back.btn" href="/file/choose" class="button">Back to file list</a>
    </p>

    <table id="errorTableHeader" class="error-table">
        <thead>
        <tr>
            <th width="12%">Column</th>
            <th width="13%">Error</th>
            <th width="40%">Correction</th>
            <th width="35%">More help</th>
        </tr>
        </thead>
        <tbody>
        {{#correctionsData.lineErrors}}
        <tr id="ERR_DR{{errorCode}}">
            <td>
                <abbr title="{{definition}}">{{columnName}}</abbr>
                <hidden id="{{columnName}}_error_code" value="DR{{errorCode}}"></hidden>
            </td>
            <td title="Error Code: DR{{errorCode}}">{{errorType}}</td>
            <td>
                {{{errorMessage}}}
                <p>
                    <a href="/correction/detail?uuid={{id}}&id={{groupID}}">See details of which rows to correct</a>
                </p>
            </td>
            <td>
                {{{moreHelp}}}
            </td>
        </tr>
        {{/correctionsData.lineErrors}}
        </tbody>
    </table>
</main>
{{/content}}
{{/layout}}
