{{<layout}}


{{$title}}{{listMetaData.description}} allowed values{{/title}}

{{$content}}
<main id="content" role="main">
    {{{feedbackbanner}}}
    <a id="back.btn"  onclick="history.back(); return false;" href="{{back}}" class="link-back">Go back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large" style="padding-top: 0; margin-top: 0;"><span id="title">{{$title}}{{/title}}</span></h1>
            <p>You can only use these values and they must be spelt exactly as they are in this list. If there are
                alternative values, you can also use those. When you upload your data we’ll convert alternatives into
                the main value.</p>
            <p><a href="/csv/{{listMetaData.path}}">Download {{$title}}{{/title}} list (CSV)</a></p>

        </div>
        <div class="column-third">
            <h2 class="heading-small">Version 1.0</h2>
            <details>
                <summary><span class="summary">How we deal with changes</span></summary>
                <div class="panel panel-border-narrow">
                    <p>We aim to keep these allowed values fixed. This should allow you to adapt your software systems
                        to use these values. If we need to make changes, we won't remove values but we may add missing
                        values as alternatives or correct any mistakes.</p>
                </div>
            </details>
        </div>
    </div>
    <div class="form-group search-list">
        <form method="get">
            <div class="form-hint">Filter this list:</div>
            <input id="search" name="q" class="form-control" type="text" value="{{query.string}}"/>
            <input class="button" type="submit" value="Find">
            {{#clear}}
            <a id="clear" class="button button-secondary" href="/display-list?list={{listMetaData.path}}&src={{src}}">Clear</a>
            {{/clear}}
            <input type="hidden" name="list" value="{{listMetaData.path}}"/>
            <input type="hidden" name="src" value="{{src}}"/>
        </form>
    </div>

    {{#messages.length}}
    {{#messages}}
    <div class="panel panel-border-wide">
        <p>{{.}}</p>
    </div>
    {{/messages}}
    {{/messages.length}}

    {{#rows.length}}
    <table id="controlled-list-table" class="{{description}} table-control">
        <thead>
        <tr>
            {{#tableHeadings}}
            <th>{{description}}</th>
            {{/tableHeadings}}
        </tr>
        </thead>
        <tbody class="controlled-list-table-body">
        {{#rows}}
        <tr>
            {{#row}}
            <td class="{{cellCls}}">
                {{#item.length}}
                <ul style="white-space: nowrap;">
                    {{#item}}
                    <li>{{.}}</li>
                    {{/item}}
                </ul>
                {{/item.length}}

                {{^item.length}}
                {{item}}
                {{/item.length}}
            </td>
            {{/row}}
        </tr>
        {{/rows}}
        </tbody>
    </table>
    {{/rows.length}}

</main>
{{/content}}
{{/layout}}
