{{<layout}}

{{$pageTitle}}
Controlled Lists
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

    <h2 class="heading-large">{{listMetaData.description}}</h2>

    <p style="display: inline-block;"><a id="back.btn" href="{{back}}" class="button">Back</a></p>

    <div style="float: right">
        <p align="right"><a href="/csv/{{listMetaData.path}}">Download the list as a .csv file</a></p>
        <form action="display-list-search?list={{listMetaData.path}}" method="post">
            <label for="search">Search:</label> <input id="search" type="text" name="search">
            <input class="button" type="submit" value="Go">
            {{#clear}}
            <a id="clear" class="button" href="/display-list?list={{listMetaData.path}}">Clear search</a>
            {{/clear}}
        </form>
    </div>

    <table>
        <thead>
            <tr>
                {{#tableHeadings}}
                <th>{{description}}</th>
                {{/tableHeadings}}
            </tr>
        </thead>
        <tbody>
            {{#rows}}
            <tr>
                {{#row}}
                    <td>{{.}}</td>
                {{/row}}
            </tr>
            {{/rows}}
        </tbody>
    </table>

 </main>

{{/content}}

{{/layout}}
