{{<layout}}

{{$head}}
    {{>head}}
    {{$commonHead}}{{/commonHead}}
    <script src="/public/javascripts/jquery.mark.min.js" type="text/javascript"></script>
{{/head}}

{{$title}}Find your EA_ID{{/title}}

{{$content}}
<main id="content" role="main">
    {{{feedbackbanner}}}
    <h1 class="heading-large"><span id="title">{{$title}}{{/title}}</span></h1>


    {{#errorMessage}}
    <div class="error-summary" role="group" aria-labelledby="search-results" tabindex="-1">
        {{{errorMessage}}}
    </div>
    {{/errorMessage}}

    <p class="lede">Use this tool to ensure your data is ready to send to the Environment Agency with the correct EA ID and site name.</p>
    <details>
        <summary><span class="summary">What's an EA ID?</span></summary>
        <div class="panel panel-border-narrow">
            <p>Your EA unique identifier. It's usually your permit number.</p>
        </div>
    </details>

    <div class="form-group {{#errorMessage}}error{{/errorMessage}}">
        <form method="get" action="/lookup">
            <p class="form-hint">Start typing your permit number or site name</p>
            {{#errorMessage}}
            <span class="error-message" id="error-message-full-name">Enter a search term</span>
            {{/errorMessage}}
            <input id="q" name="q" type="search" class="form-control" placeholder="Permit number or site name"
                   aria-controls="search-results" value="{{query.string}}"/>
            <input type="submit" class="button" value="Find"/>
        </form>
    </div>

    {{#messages.length}}
        {{#messages}}
        <div class="panel panel-border-wide">
            <p>{{.}}</p>
        </div>
        {{/messages}}
    {{/messages.length}}

    {{#results.length}}
    <div class="form-group">
        <table id="search-results" class="eaid-search-results" style="">
            <thead>
            <tr>
                <th style="width: 6em">EA_ID</th>
                <th>Site_Name</th>
                <th style="width: 8em">Alternative IDs</th>
            </tr>
            </thead>
            {{#results}}
            <tbody>
                <tr style="border-bottom: none;">
                    <td class="search-result-entry" style="border-bottom: none; vertical-align: top;">{{uniqueIdentifier.name}}</td>
                    <td class="search-result-entry" style="border-bottom: none; vertical-align: top;">{{uniqueIdentifier.site.name}}</td>
                    <td class="search-result-entry" style="border-bottom: 1px solid #bfc1c3; vertical-align: top;" rowspan="2">
                        {{#alternatives}}
                        <div>{{.}}</div>
                        {{/alternatives}}
                    </td>
                </tr>
                <tr style="border-top: none; border-bottom: 1px solid #bfc1c3;">
                    <td></td>
                    <td class="search-result-entry" colspan="2" style="border-top: none; font-size: 80%; vertical-align: top;" valign="top">
                        {{#addresses}}
                        <div>{{.}}</div>
                        {{/addresses}}
                    </td>
                </tr>
            </tbody>
            {{/results}}

        </table>
    </div>


    {{#query.terms.length}}
    <script type="text/javascript">
        $(".search-result-entry").mark("{{query.terms}}".split(","));
    </script>
    {{/query.terms.length}}

    {{/results.length}}
</main>
{{/content}}
{{/layout}}