{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  {{{feedbackbanner}}}


  <h1 class="heading-large">
    <span id="title">Sorry, the service isn't working</span>
  </h1>

  <div class="text">
    <p class="lede">We’re experiencing problems. This means you can’t send your file right now. Please contact us directly to tell us about this problem.</p>
    <p>
      <a id="startagain.btn" href="/file/choose" class="button">Upload and check another file</a>
    </p>
  </div>
</main>

{{/content}}

{{/layout}}
