{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{{feedbackbanner}}}

    <form method="post" class="form">
        <h1 class="heading-large">Send your data</h1>
        <div class="text">
            <p class="lede">Once you’ve sent your data we’ll email you a receipt.</p>
            <div class="text panel panel-border-wide">
                {{#files}}
                <p>{{name}}</p>
                {{/files}}
            </div>

            <div class="help-notice">
                <p>By sending this data return you agree that you’re acting on behalf of the permit holder and - to the best of your knowledge and belief - the data is true, not false or misleading.</p>
            </div>

            <div class="form-group">
                <input type="submit" id="continueBtn" class="button" value="Accept and send" accesskey="C">
            </div>
        </div><!-- /text -->
    </form>
</main>
{{/content}}
{{/layout}}
