{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{{feedbackbanner}}}

  <form method="post" class="form">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <h1 class="heading-xlarge">Send landfill data returns</h1>

    <div class="text">
      <p class="lede">Use this service to send data returns to the Environment Agency (England only) about landfill compliance monitoring.</p>
      <div class="call-to-action">
        <p>Report schedule 5 and 6 events directly to your local regulatory team or allocated Site Inspector.</p>
      </div>

      <!-- Primary button -->
      <a id='continueBtn' href="/file/choose" class="button button-get-started" accesskey="C">Start now</a>

      <h2 class="heading-large">Before you start</h2>
      <p>Read guidance on <a href="{{links.HowToFormatEnvironmentAgencyData}}" rel="external" target="DRHELPPAGE">how to format landfill data returns (opens in a new window)</a> to meet Environment Agency (EA) requirements, and download controlled lists of standard terms for some of your data.</p>
      <p>To use this service you must:</p>
      <ul class="list list-bullet">
        <li>follow EA formatting rules</li>
        <li>save your data as a CSV file</li>
        <li>give your email address for confirmation that you’ve sent your data</li>
      </ul>
      <div class="notice">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          To use this service you must be the permit holder or act on their behalf. When you send your data returns file you’re agreeing that &mdash; to the best of your knowledge and belief &mdash; the data you’ve submitted is true and not false or misleading.
        </strong>
      </div>
    </div>
  </form>
</main>

{{/content}}

{{/layout}}
