{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form" action="/api/file-upload-send">
  	<h1 class="heading-xlarge">Your file is ready to be sent</h1>
  	<div class="text">
      <p class="lede">Your file has been checked and is ready to be sent.</p>
				<div class="text panel-indent">
					<p>{{result.fileName}}</p>
				</div>
				
				<details class="cc-email form-group">
				  <summary><span class="summary">Send a copy to an email address</span></summary>
				  <div class="panel-indent">
					  <div class="form-group">
					    <label class="form-label" for="email">Email address</label>
					    <input class="form-control" id="email" name="email_cc" type="text">
					    <p><a href="#">Add another email</a></p>
					  </div>
				  </div>
				</details>
	
				<p class="warning_message_image warning-space warning-weight">
					<img align="left" alt="Important message" src="/public/images/icon-important.png" class="icon-important">
					By sending this data file, you confirm that the information you've provided is correct and complete.
				</p>
			
				<p>
					<a id="nextHref">
						<input type="submit" id="nextBtn" class="button" value="Send this file">
					</a>
				</p>
			</div><!-- /text -->
		</form>
</main> 

{{/content}}

{{/layout}}
