{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your
				<a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<form method="post" class="form text">
		<div class="text">
			<h1 class="heading-xlarge">
				<span id="title">There is a problem</span>
			</h1>
			<p class="lede">Your data file must be a CSV.</p>
			
			<div class="form-group">
				<input type="submit" class="button" value="Upload and check another file">
			</div>
			
			<a href="#">I don't understand</a>
		</div>
	</form>
	</main>
	
	{{/content}}
	
	{{/layout}}
	