{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your
				<a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a>will help us to improve it.</span>
		</p>
	</div>
	<form method="post" class="form text" action="/01-start/01-start">
		<div class="text">
			<h1 class="heading-xlarge">
				<span id="title">Your data has been submitted</span>
			</h1>
			<p class="lede">You have successfully submitted your data to the Environment Agency.</p>
			<p>We'll now check your data for quality and regulatory compliance and contact you if we have any questions.</p>
			<p>You can now <a href="/04-send-your-data/02-upload-your-data">upload another data file</a> or <a href="/01-start/02-what-would-you-like-to-do">sign out</a></p>
		</div>
	</form>
	</main>
	
	{{/content}}
	
	{{/layout}}