{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your
				<a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a>will help us to improve it.</span>
		</p>
	</div>
	<form method="post" class="form text" action="/01-start/01-start">
		<div class="text">
			<h1 class="heading-xlarge">
				<span id="title">You have successfully submitted your data</span>
			</h1>
			<p class="lede">You have successfully submitted your data to the Environment Agency.</p>
			<p>We will now check your data for quality and regulatory compliance.</p>
			<p>We will contact you if we have any questions or concerns about the data you have submitted.</p>
			<p>If you have finished all your tasks, you can now <a href="#" onclick="alert('Not yet implemented!');return false;">Sign out</a></p>
			
			<div class="form-group">
				<input type="submit" class="button" value="Upload and check another file">
			</div>
			
		</div>
	</form>
	</main>
	
	{{/content}}
	
	{{/layout}}