{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="file-upload">
	<div class="service-info">
		<div class="phase-banner">
			<p>
				<strong class="phase-tag">ALPHA</strong>
				<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
			</p>
		</div>
	</div>

	<div class="grid-wrapper">
		<div class="grid grid-4-4">
			<div class="inner-block">
      	<div class="text">
					<h1 class="heading-xlarge">
						<span id="title">Upload your data</span>
					</h1>
					<p class="lede">
						Use this page to upload your data<!-- and check them for errors-->. Your data must be returned as a CSV file.
					</p>

						<div class="well">
							<div id="statusbar-header" style="display:none; width:100%;">
								<div class="statusbar2 statusbar2-title" style="width: 100%;">
									<div class="filename2" style="width:100%;">File name</div>
								</div>
								<div class='statusbar2 odd' style='width: 100%;'>
									<div class='filename2 file-label' style='width: 100%;'></div>
								</div>
							</div>

							<div class="upload-file">
								<p class="file-display"></p>
								<!--<form id="uploadForm" enctype="multipart/form-data" action="http://localhost:9020/file-upload" method="post">-->
									<!--<form id="uploadForm" enctype="multipart/form-data" action="http://localhost:8080/file-upload" method="post">-->

								<form id="uploadForm" enctype="multipart/form-data" action="/api/file-upload" method="post">
									<div class="button-choose-file button-secondary">
										<span class="browse-text" style="display:none;">Choose file</span>
										<input type="file" name="fileUpload" style="width: 100%;">
									</div>
									<p>
										<input id="nextBtn" class="button" type="submit" value="Check for Errors" name="submit">
									</p>
							  </form>
							</div>
							<!-- /.upload-file -->
						</div>
						<!-- /.well -->
					</div>
				<!-- /.text -->
			</div>
			 <!-- /.inner-block -->
		</div>
    <!-- /.grid -->
	</div>
	<!-- /.grid-wrapper -->
</main>

{{/content}}

{{/layout}}
