{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="file-upload">
	<div class="service-info">
		<div class="phase-banner">
			<p>
				<strong class="phase-tag">ALPHA</strong>
				<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
			</p>
		</div>
	</div>

	<div class="grid-wrapper">
		<div class="grid grid-4-4">
			<div class="inner-block">
				<div class="text">
					<h1 class="heading-xlarge">The file is valid</h1>

					<div class="text panel-indent">
						<p>{{result.fileName}}</p>
					</div>

				<hr />

				<p class="warning_message_image warning-space warning-weight">
					<img align="left" alt="Important message" src="/public/images/icon-important.png" class="icon-important">
					By sending this data file, you confirm that the information you've provided is correct and complete.</p>

					<div class="text panel-indent">
					<p>You may receive a penalty for sending a late, incomplete or incorrect return.</p>
					</div>

					<!--<br clear="all">-->
					<p style="margin-top:40px"><a id="nextHref" href="/file-upload/send"><input type="button" value="Accept and send" class="button" id="nextBtn"></a></p>

					</div>
				</div>
			</div><!-- /.inner-block -->
		</div><!-- /.grid -->
	</div><!-- /.grid-wrapper -->
</main>

{{/content}}

{{/layout}}
