{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="file-upload">
	<div class="service-info">
		<div class="phase-banner">
			<p>
				<strong class="phase-tag">ALPHA</strong>
				<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
			</p>
		</div>
	</div>
        
	<div class="grid-wrapper">
		<div class="grid grid-4-4">
			<div class="inner-block">
      	<div class="text">
					<h1 class="heading-xlarge"><span id="title">Upload your data</span></h1>                          
					<p class="lede">
						Use this page to upload your data<!-- and check them for errors-->. A data file must be a CSV.
					</p>
					<!--
					<details>
					  <summary><span class="summary">Help with data format</span></summary>
					  <div class="panel-indent">
					    <p>
					      We only accept your data return as a CSV (Comma Separated Values) format. You can create and export as a CSV file from a spreadsheet program such as Microsoft Excel.
					    </p>
					  </div>
					</details>
					-->
												
					<!--<div class="text panel-indent">
					
						<p>If a return can't be uploaded and checked, you'll be told why. You must remove these returns before you can continue.</p>
						
						<p>If a return <!--is uploaded and checked and--><!-- has formatting errors, you'll be able to view an error return.</p>
						
					</div>-->                            
					<!--<hr>-->
                        
					<div class="well">
            <div id="statusbar-header" style="display:none">
							<div class="statusbar2 statusbar2-title">
								<div class="filename2">File name</div>
								<div class="progressBar2">Status</div>
								<div class="actionsh">Action</div>
							</div>
						</div>
                        
						<div id="dragandrop" class="dragDrop">
							Drag and drop a return here
						</div>
						<p>or <a id="uploadOldId" href="#">browse for a data file</a></p>
						<form id="uploadForm">
							<input type="file" name="tempFileId" id="tempFileId" style="display: none;" multiple>
						</form>
					</div>
					
					<!--<p>or <a id="uploadOldId" href="/q-upload-2">go to a page to browse and select a return or returns</a>.</p>-->
                        
					<!--<p>
						<label for="checkbox-nosubmission" class="form-checkbox">
							<input id="checkbox-nosubmission" type="checkbox" value="checkbox-nosubmission">I don't have a return for this returning period.
						</label>
					</p>-->
					
					<p><a id="nextHref"><input id="nextBtn" disabled="disabled" class="button" type="button" value="Check for errors"/></a></p>
                        
					<!--<p><a href="javascript:history.go(-1)">Back</a></p>-->
					
					<noscript>
						<div class="well">
							<div class="form-group"> 
								<input class="input-file" type="file" name="file-1" id="file1" multiple>
							</div>
            </div>
						<p><a id="nextHref"><input class="button" type="button" value="Continue"/></a></p>
					</noscript>
											
					</div>
			</div>
			<!-- /.inner-block --> 
		</div>
    <!-- /.grid --> 
	</div>
	<!-- /.grid-wrapper --> 
</main>

{{/content}}

{{/layout}}
