{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="file-upload">
	<div class="service-info">
		<div class="phase-banner">
			<p>
				<strong class="phase-tag">ALPHA</strong>
				<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
			</p>
		</div>
	</div>
		

	<div class="grid-wrapper">
		<div class="grid grid-4-4">
			<div class="inner-block">
	    	<div class="text">
					<h1 class="heading-xlarge"><span id="title">Feedback</span></h1>							
				</div>
			</div><!-- /.inner-block --> 
		</div><!-- /.grid --> 
	</div><!-- /.grid-wrapper -->
</main>

{{/content}}

{{/layout}}
