{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="file-upload">
	<div class="service-info">
		<div class="phase-banner">
			<p>
				<strong class="phase-tag">ALPHA</strong>
				<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
			</p>
		</div>
	</div>

	<div class="grid-wrapper">
		<div class="grid grid-4-4">
			<div class="inner-block">
				<div class="text">
					<div class="green" id="banner-notification">
						<h1>
						<img align="absmiddle" alt="" class="tick" src="/public/images/confirm.png">
						Sent
						</h1>
					</div>
					<p>{{mailOptions}}</p>

					<h2 class="heading-19">What you can do next</h2>

					<p>You can <a href="/mvp/upload">upload another report (or reports)</a> or <a href="#">go to Environment Agency services</a>.</p>

					<!--<p>You have until 5 November 2015 to check and change your uploaded and sent report for 6 April to 5 July 2015.</p>-->

					<p><a href="/file-upload/feedback"><input type="submit" id="submit" value="Finish" class="button"></a></p>

					<!--<a href="/summary-2">View your summary</a>-->


					</div>
				</div>
			</div><!-- /.inner-block -->
		</div><!-- /.grid -->
	</div><!-- /.grid-wrapper -->
 </main>

{{/content}}

{{/layout}}
