.help-notice {
  background:none;
  background:url("/public/images/icons/icon-important.png") no-repeat scroll 0 0.2em;
  @include device-pixel-ratio() {
    background-image:url("/public/images/icons/icon-important-2x.png");
    background-size: 34px 34px;
  }
  margin:$gutter 0;
  p {
    font-weight:600;
    padding: 0 1em 0 2.5em;
    a {
      font-weight:600;
    }
  }
}
p + .help-notice {
  margin-top: 2em;
}

// Call to action
.call-to-action {
	background: $grey-3;
  margin: 30px 0;
  padding: 10px 60px 10px 15px;
  position: relative;
  p {
      margin: 0;
      padding: 0;
  }
}

// help-csv
.help-csv {
	margin:10px 0;
}

// Search list
.search-list {
    .button {
        padding-top:0.35em;
        @include media(mobile) {
            margin-top: 0.35em;
        }
    }
}

/* Used to display support links in footer. */
.ea-footer {
  @include core-16();
  line-height: 1.25;
  padding-bottom: 1em;
}

// Attachement image
.attachment {
  float:right;
	.assistive-technology {
  		color: #0b0c0c;
      font-family: "nta",Arial,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 6px;
      text-transform: none;
	}
	.attachment-thumb {
        margin-top: 5px;
        padding-bottom: 10px;
        position: relative;
        text-align: right;
	    img {
        background: white none repeat scroll 0 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        display: block;
        height: 100px;
        outline: 5px solid rgba(11, 12, 12, 0.1);
        width: 75px;
        margin: 0 auto;
	    }
	    a {
	    	display: inline-block;
        margin: 0 20px;
	    }
	}
	.title a {
	    text-decoration: underline;
	}
}

// Helpful documents
.helpful-documents {
	br {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

// Permit number
.permit-number {
	margin-bottom:0;
	.permitnotfound {
		color: $red;
	}
	.checking {
		.loading {
			img {
				vertical-align: middle;
			}
		}
	}
	p {
		.name	{
			font-weight: bold;
		}
	}
	.title {
		font-weight:600;
		margin-bottom:0;
	}
	.not-recognised {
		color:$text-colour;
	}
}

.img-responsive {
	min-width:100%;
	width: 100%;
	height: auto;
}

.panel-indent.error {
	border-left: 4px solid $red;
}

.file-summary {
	margin-bottom:$gutter;
  .file-name {
   width:100%;
   overflow:hidden;
   text-overflow: ellipsis;
  }
  .site-name {
    font-weight: 600;
  }
  ul {
    margin: 0 0 $gutter $gutter;
  }
}

input.validation-code {
	width:100px;
}

.govuk-box-highlight {
  padding: 2em 0 3em 0;
}

mark {
    background-color: $yellow;
    color: $text-colour;
}

.float-right {
    float:right;
    @include media(mobile) {
        float: none;
        margin-bottom: $gutter-half;
    }
}
