.help-notice {
  background:none;
  background:url("/public/images/icons/icon-important.png") no-repeat scroll 0 0.2em;
  @include device-pixel-ratio() {
    background-image:url("/public/images/icons/icon-important-2x.png");
    background-size: 34px 34px;
  }
  margin:30px 0;
  p {
    font-weight:600;
    padding: 0 1em 0 2.5em;
    a {
      font-weight:600;
    }
  }
}
p + .help-notice {
  margin-top: 2em;
}

// Call to action
.call-to-action {
	background: $grey-3;
  margin: 30px 0;
  padding: 10px 60px 10px 15px;
  position: relative;
  p {
      margin: 0;
      padding: 0;
  }
}

// help-csv
.help-csv {
	margin:10px 0;
}

// Attachement image
.attachment {
	.assistive-technology {
				color: #0b0c0c;
		    font-family: "nta",Arial,sans-serif;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 1.42857;
		    margin: 0;
		    padding-bottom: 4px;
		    padding-top: 6px;
		    text-transform: none;
	}
	.attachment-thumb {
	    float: left;
	    width: 124px;
	    margin-top: 5px;
	    padding-bottom: 15px;
	    position: relative;
	    img {
	        background: white none repeat scroll 0 0;
	        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	        display: block;
	        height: 140px;
	        outline: 5px solid rgba(11, 12, 12, 0.1);
	        width: 99px;
	    }
	    a {
	    	display: inline-block;
	    }
	}
	.title a {
	    text-decoration: underline;
	}
}

// Helpful documents
.helpful-documents {
	br {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

// Permit number
.permit-number {
	margin-bottom:0;
	.permitnotfound {
		color: $red;
	}
	.checking {
		.loading { 
			img { 
				vertical-align: middle;
			}
		}
	}
	p {
		.name	{
			font-weight: bold;
		}
	}
	.title {
		font-weight:600;
		margin-bottom:0;
	}
	.not-recognised {
		color:$text-colour;
	}
}

.img-responsive {
	min-width:100%;
	width: 100%;
	    height: auto;
}

.panel-indent.error {
	border-left: 4px solid $red;
}
 
.file-summary {
	margin-top:0;
	margin-bottom:30px;
	p {
		.name	{
			font-weight: bold;
		}
	}
	.title {
		font-weight:600;
		margin-bottom:0;
	}
}

input.validation-code {
	width:100px;
}

