.drag-drop-indicator {
	display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
	.drag-drop-message {
    border: 10px solid $yellow;
    display:table-cell;
	}
}

.file-drop-active .drag-drop-indicator {
	display: table;
}

.file-upload {
  .uploader-container p {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    vertical-align: top;
  }
  .upload-list {
    clear:both;
  }
  .statusbar-header {
  	font-weight:600;
  }

  .statusbar {
  	border-top: none;
  	border-bottom:1px solid #BFC1C3;
  	width: auto;
  	vertical-align: middle;
  	font-size: 16px;
  	position: relative;
  	.filename, .status, .details, .remove  {
  		position: relative;
  		margin: 5px 0;
  		padding: 5px 0 3px;
  		vertical-align: top;
  	}
  	@include media(tablet) {
  		.filename, .status, .details, .remove  {
  			display: inline-block;
  		}
  		.filename {
  		 width:35%;
       overflow:hidden;
       text-overflow: ellipsis;
  		}
  		.status {
  		 width:35%;
  		}
  		.details {
  		 width:20%;
  		}
  		.remove {
  			width:10%;
  		}
  	}
  }

  .statusbar {
    .status {
      .file-error, .file-ready {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        max-width: 90%;
        text-transform: uppercase;
      }
      .file-ready {
        color: $green;
        border:1px solid $green;
        padding: 2px 4px 0;
        @include border-radius(2px);
      }
      .file-error {
        color: $red;
      }
    }
  	.action {
  	 width:60%;
  	 display: inline-block;
  	}
  	.remove {
  		text-align:right;
  		display: inline-block;
        .link {
          font-size: 16px;
          background: transparent none repeat scroll 0 0;
          border:0;
          padding:0;
          line-height: 1;
        }

        .link:hover {
          cursor: pointer;
        }
      }
  }
}
