table.cookies-table {
	margin: $gutter-half 0;
	td {
		vertical-align: top;
	}
}

.exception {
	margin-top:$gutter;
	overflow: hidden;
}

.example-file-wrapper {
	overflow: auto;
	margin-bottom:30px;
	table, .example-file {
		margin-bottom:0;
	}
	table.example {
		white-space: nowrap;
	}
}

// Example file
.example-file {
  width:100%;
  margin-bottom:60px;
  margin-right:15px;
  table {
    th, td {
      white-space: nowrap;
    }
  }
}


// CSV
.csv {
	border-bottom:1px solid $grey-3;
	h2 {
	  @include bold-24();
	  margin-top:$gutter-half;
	}
}
