.corrections-table {
	margin-bottom:30px;
	.th-field-heading {
		width:percentage(1/6);
	}
	.th-errors {
		width:percentage(1/6);
	}
	.th-correction {
		width:percentage(2/3);
	}
	.th-row {
		width:percentage(2/6);
	}
	.th-error {
		width:percentage(1/6);
	}
	.th-data {
		width:percentage(3/6);
	}
	td {
		vertical-align:top;
		max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
		p:first-child {
			margin-top:0;
		}
	}
}


/* Mobile formatting */
@include media(mobile) {
	.corrections-table {
		display: block;
		margin-top: 0px;
		thead, tr, tbody, td {
			display: block;
		}
		.th-field-heading, .th-errors, .th-correction, .th-row, .th-error, .th-data {
			display: none;
		}
		tr {
			border-bottom: 1px solid $grey-2;
			padding: 0.5em 0;
		}
		.td-field-heading, .td-errors, .td-correction, .td-row, .td-error, .td-data {
			margin-left:percentage(1/3);
			width:percentage(2/3);
			display: inline-block;
			padding: 0.3em 0;
			border-bottom: 0;
			&:before {
				width:50%;
				display: inline-block;
				margin-left: -50%;
				font-weight: bold;
			}
		}
		.td-field-heading {
			&:before {
				content:"Field heading: ";
			}
		}
		.td-errors {
			&:before {
				content:"Errors: ";
			}
		}
		.td-correction {
			div:first-child p:first-child {
				margin-top:-16px;
			}
			p:last-child {
				margin-bottom:1em;
			}
			&:before {
				content:"Correction: ";
			}
		}
		.td-row {
			&:before {
				content:"Row number(s): ";
			}
		}
		.td-error {
			&:before {
				content:"Error: ";
			}
		}
		.td-data {
			&:before {
				content:"Your data: ";
			}
		}
	}
}
