dt {
  @include bold-19();

  margin-top: em(10, 16);
  margin-bottom: 0;

  @include media(tablet) {
    margin-top: em(20, 19);
  }

}

/* Top align icon in multiline notice */
.notice {
  margin-top: 30px;
  .icon {
     margin-top: 5px;
     top: 0;
 }
}
