<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.debug.launch.LaunchConfigurationType">
<mapAttribute key="attr_environment_variables">
<mapEntry key="NODE_ENV" value="local"/>
</mapAttribute>
<stringAttribute key="key_file_path" value="/data-returns-frontend/server.js"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
