{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	
		<h1 class="heading-xlarge">
			<span id="title">Choose the file you want us to check</span>
		</h1>
		<div class="text">
			<p class="lede">
				Your file must be in CSV format.
			</p>
			<div class="well">
				<div id="statusbar-header" style="display:none; width:100%; box-sizing:border-box;">
					<div class="statusbar2 statusbar2-title" style="width: 100%; display: block;">
						<div class="filename2" style="width:70%; display:inline-block;">Name of data file to be checked</div>
						<div class="delname2" style="width:30%; display:inline;">Action</div>
					</div>
					<div class='statusbar2 odd' style='width: 100%;'>
						<div class='filename2 file-label' style='width: 70%; display:inline-block;'></div>
						<div class='delname2 del-label' style='width: 30%; display:inline;'></div>
					</div>
				</div>

				<div class="upload-file">
					<p class="file-display"></p>
					<form id="uploadForm" enctype="multipart/form-data" action="/api/file-upload" method="post">
						<div class="fancy-file-button button-choose-file button-secondary">
							<span class="browse-text" style="display:none;">Choose file</span>
							<input id="file-select-button" type="file" name="fileUpload" style="width: 100%;">
						</div>
						<p>
							<input id="check-for-errors-btn" class="button" type="submit" value="Check for errors" name="submit">
						</p>
				  </form>
				</div>
				<!-- /.upload-file -->
			</div>
			<!-- /.well -->
		</div><!-- /text -->
</main> 

{{/content}}

{{/layout}}
