{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	
  <form method="get" class="form" action="/api/file-upload-validate">
	  <h1 class="heading-xlarge">Confirm the data file before we check it</h1>
	  <div class="text">
		  <p class="lede">The file we’re about to check is associated with the following permit number and site.</p>
		  
		  <p class="lede">Are these details correct?</p>
		
			<div class="panel-indent choose-organisation">
					<p class="title">Permit number</p>
					<p>{{result.eaId}}</p>
					<p class="title">Site</p>
					<p class="site">
						<span class="address-1">{{result.siteName}}</span>
					</p>
					<p class="title">Return type</p>
					<p>{{result.returnType}}</p>
			</div>
				
			<details class="help-text-reg">
			  <summary><span class="summary">These details are wrong</span></summary>
			  <div class="panel-indent">
			    <p>If any of the details above are wrong, please <a href="/04-send-your-data/01-upload-your-data">start again.</a>
					  <!--<li><a href="#" onclick="alert('Not yet implemented!');return false;">follow your normal route</a></li>-->
				  </p>
			  </div>
			</details>

			<!-- Primary button -->
			<div class="form-group">
				<input type="submit" class="button" value="Yes, the details are correct">
			</div>
		</div><!-- /text -->
	</form>
</main> 

{{/content}}

{{/layout}}
