{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form text" action="/02-check-your-data/04-success">
		<div class="text">
			<h1 class="heading-xlarge">Your file has passed our validation checks</h1>

            <p>Your file is ready to be sent.</p>

			<div class="text panel-indent">
				<p>{{result.fileName}}</p>
			</div>

			<p>
				<a id="nextHref">
					<input type="submit" id="nextBtn" class="button" value="Start again...">
				</a>
			</p>

		</div>
	</form>

</main>

{{/content}}

{{/layout}}
