{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form text">
		<div class="text">
			<h1 class="heading-xlarge">Your file has passed our validation checks</h1>
			
			<p>Your file contains no formatting errors. You may submit the file as it is</p>
			
			
			<div class="text panel-indent">
				<p>{{result.fileName}}</p>
			</div>
			
			<p>
				<a href="/file-upload/sent" id="nextHref">
					<input type="button" id="nextBtn" class="button" value="Send this file">
				</a>
			</p>
	
			<p>Go back and <a href="/01-upload-your-data">upload and check another file</a></p>
		
			</div>
		</div>
	</form>
	
</main> 

{{/content}}

{{/layout}}
