{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your
				<a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a>will help us to improve it.</span>
		</p>
	</div>
	<form method="post" class="form text" action="/02-check-your-data/01-upload-your-data">
		<div class="text">
			<h1 class="heading-xlarge">
				<span id="title">There's a problem</span>
			</h1>
			<p class="lede">Your data file contains formatting errors.</p>
			<p>Before you can send this data you must:</p>
			<ul style="margin-bottom:25px;margin-left:35px;" class="list-bullet">
				<li>correct all the errors</li>
				<li>
					<a href="/02-check-your-data/01-upload-your-data">upload and check the data again</a> including those that don't contain any errors</li>
			</ul>
			<p>You can
				<a target="_blank" href="#" onclick="alert('Not yet implemented!');return false;">create a PDF of the errors</a> (opens in a new window or tab).</p>
			<hr>
			<h2 class="heading-24">Errors found in {{file_name}} - {{result.outcome}}</h2>
			<!-- For fixed header positioning only for Sticky JS -->
			<p>
			<table id="errorTableHeader" class="error">
				<thead>
				<tr>
					<th width="15%">Reason</th>
					<th width="10%">Row number</th>
					<th width="10%">Column name</th>
					<th width="10%">Error value</th>
					<th>Example</th>
				</tr>
				</thead>
				<tbody>
				{{#result}}
				{{#errors}}
				<tr>
					<td>{{meaningfulReason}}</td>
					<td>{{lineNo}}</td>
					<td>{{columnName}}</td>
					<td>{{errValue}}</td>
					<td>{{helpfulExample}}</td>
				</tr>
				{{/errors}}
				{{/result}}
				</tbody>
			</table>

			</p>
			
			<div class="form-group">
				<input type="submit" class="button" value="Upload and check another file">
			</div>
			
			<a href="#" onclick="alert('Not yet implemented!');return false;">I don't understand</a>
		</div>
	</form>
	</main>
	
	{{/content}}
	
	{{/layout}}
	