.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#wrapper {
	min-height: 400px !important;
}

.footer-wrapper {
	max-width:1020px !important;
}

/* Valdation CSS */
.validation-summary {
	border: 3px solid #df3034;
	box-sizing: border-box;
	padding: 1em 1em 0.25em 1em;
	margin: 1em -1em 1.5em 0em;
	background-color: #fef7f7;
}

.validation-summary *:first-child {
	margin-top: 0em;
}

.validation-summary h1 {
	margin-bottom: 0;
}

.validation-summary ul {
	padding-left: 2.2em;
	margin: 0.75em 0;
}

.validation-summary ul, .form-example-1 .validation-summary ol {
	color: #df3034;
}

.validation-summary ul li {
	list-style-type: none;
	list-style-image: none;
}

.validation-summary li {
	font-family: "nta",Arial,sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 300;
	text-transform: none;
}

.validation-summary a, .validation-summary a:visited {
	color: #df3034;
	text-decoration: none;
}

.validation-summary a:hover {
	color: #df3034;
	text-decoration: underline;
}

/* Valdation CSS - input fields */
.validation {
    background-color: #fef7f7;
    border-left: 3px solid #df3034;
    margin: 0 -1em 0.5em 0em;
    padding: 0.75em 1em 1em 1em
}

.validation .validation-message {
    color: #df3034;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    display: block;
    padding-bottom: 0.5em
}

.message {

    margin: 0 -1em 1.5em 0em;
    padding: 0.75em 1em 1em 1em;
}

.success {
	border-left: 3px solid #85994B;
	background-color: #d5fac4;
}

/* Overide form elements from helpers */
dl dt label {
	float: left;
	margin-right: 10px !important;
}

dl dd input {
	width: 300px;
	float: left;
	margin-right: 10px;
}

.clear {
	clear:both;
}

#form-style.left fieldset {
	margin: 0;
	margin-top: 2em;
}

#form-style.left fieldset legend {
	display: block;
	padding-left: 7.7em;
}

#form-style.left legend {
	font-family: "nta",Arial,sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	margin-bottom: 0.5em;
	color: #0b0c0c;
}

.group {
	font-family: "nta",Arial,sans-serif;
	font-size: 19px !important;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	margin-top: 0.75em;
	}

#form-style.left label {
	display: -moz-inline-stack;
	display: inline-block;
	text-align: left;
	min-width: 9.0em;
}

#form-style.left label {
	color: #0b0c0c;
	font-family: "nta",Arial,sans-serif;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	vertical-align: top;
	padding: 0.25em 0;
}

#form-style.left input.full-name {
	width: 20em;
}
#form-style.left input[type="text"] {
	min-width: 2em;
}
#form-style.left input[type="text"], #form-style.left input[type="email"], #form-style.left input[type="password"], #form-style.left input[type="date"], #form-style.left input[type="datetime"], #form-style.left input[type="datetime-local"], #form-style.left input[type="email"], #form-style.left input[type="month"], #form-style.left input[type="number"], #form-style.left input[type="search"], #form-style.left input[type="tel"], #form-style.left input[type="time"], #form-style.left input[type="url"], #form-style.left input[type="week"], #form-style.left select[size], #form-style.left textarea {
	background-color: #f9f9f9;
	border: 2px inset;
	font-size: 1em;
	padding: 0.1em 0 0.1em 0.4em;
}

#form-style.left input, #form-style.left select, #form-style.left textarea, #form-style.left .uneditable-field {
	display: -moz-inline-stack;
	display: inline-block;
	margin: 0 0em 0.5em 0;
}

#form-style.login label {
	min-width:6.0em !important;
}


.hint {
	clear: left;
	display: block;
	font-family: "nta",Arial,sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 300;
	text-transform: none;
}

.inline.hint {
	display: inline-block;
}

.adjustRight {
	padding-left: 11.5em;
}

.paddingLeft {
	padding-left: 0em !important;
}
.breadcrumb {
	  padding: 1em 0 0.5em 0;
}
.breadcrumb a {
  color: #0b0c0c;
}
.breadcrumb a:hover{
color: #0b0c0c !important;
}
.breadcrumb a:visited{
color: #0b0c0c;
}
/* line 33, ../sass/design-patterns/_breadcrumb.scss */
.ulnostyle li {
list-style:none;
}

.warning_message{
  border: 3px solid #F47738;
  padding: 15px 30px;
  margin-bottom: 30px;
  background-color:#FFBF47;
  min-height: 35px;
  max-width: 85%;

  }

.warning-weight{
	font-weight:600;
	}

.warning-space{
	padding-top:15px;
	}

.service-info {
  border-top: 10px solid #005ea5;
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.service-info .inner {
  max-width: 990px;
  margin: 0 auto;
}
@media (min-width: 641px) {
  .service-info .logo {
	float: left;
	width: 33.33%;
  }
}
@media (min-width: 641px) {
  .service-info .service-info__help {
	float: left;
	width: 66.66%;
  }
}
.service-info .service-info__help p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  color: #6f777b;
  margin: 1em 0;
}
@media (max-width: 640px) {
  .service-info .service-info__help p {
	font-size: 14px;
	line-height: 1.14286;
  }

  #content {
	  padding-left: 5px;
	  padding-right: 5px;
  }

}
@media (min-width: 641px) {
  .service-info .service-info__help p {
	margin: 0;
	padding-top: 5px;
  }
}

.organisation-logo, .organisation-logo-stacked {
  font-family: Helvetica, Arial;
  font-weight: 400;
  display: block;
  position: relative;
  font-size: 13px;
  line-height: 15px;
  padding: 3px 0 2px 0;
  text-decoration: none;
  padding: 3px 0 2px 30px;
  background-image: url("../images/hmrc_crest_13px.png");
  background-position: 5px center;
  background-size: auto 20px;
  background-repeat: no-repeat;
  border-left: 2px solid #009390;
}
.organisation-logo:link, .organisation-logo-stacked:link, .organisation-logo:visited, .organisation-logo-stacked:visited {
  color: #0b0c0c;
}
.organisation-logo a, .organisation-logo-stacked a, .organisation-logo span, .organisation-logo-stacked span {
  color: #0b0c0c;
}

a.organisation-logo:hover, a.organisation-logo-stacked:hover, a.organisation-logo:focus, a.organisation-logo-stacked:focus {
  text-decoration: underline;
}

.organisation-logo-stacked {
  padding: 20px 0 0 6px;
  background-image: url("../images/hmrc_crest_13px.png");
  background-position: 5px top;
  background-size: auto 20px;
}

.organisation-logo-stacked span {
  display: block;
  position: relative;
  top: 3px;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo, .organisation-logo-stacked,
  .organisation-logo-stacked {
	background-image: url("../images/hmrc_crest_13px.png");
  }
}
@media (min-width: 641px) {
  .organisation-logo-medium, .organisation-logo-stacked-medium {
	font-size: 18px;
	line-height: 20px;
	padding: 3px 0 2px 38px;
	background-image: url("../images/hmrc_crest_13px.png");
	background-position: 6px center;
	background-size: auto 25px;
	border-left: 2px solid #009390;
  }
}

@media (min-width: 641px) {
  .organisation-logo-stacked-medium {
	padding: 25px 0 0 7px;
	background-image: url("../images/hmrc_crest_13px.png");
	background-position: 6px top;
	background-size: auto 25px;
  }
}

@media (min-width: 641px) {
  .organisation-logo-stacked-medium span {
	display: block;
	position: relative;
	top: 3px;
  }
}
@media all and (min-width: 641px) and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo-medium, .organisation-logo-stacked-medium,
  .organisation-logo-stacked-medium {
	background-image: url("../images/hmrc_crest_13px.png");
  }
}

.breadcrumb ol {
	border-top: 10px solid #005ea5 !important;
}

.related {
	margin-top: 40px !important;
	position:inherit;
	width:auto;
}

.row-disabled td {
	color:#BFC1C3;
}

.breadcrumb {
max-width: 960px !important;
}

.icon-important {
	padding-right: 10px;
	background: none;
}

table th, table td {
	padding-left: 10px !important;
	font-size: 16px;
}

.swatch-grey-3 td {
	background-color: #dee0e2 !important;
}
.swatch-orange-3 {
	border: 2px solid #F47738 !important;
}
.grid .inner-block{
margin-left:0px;
padding-left:0px;
}
.footer-meta{
padding-left:30px;padding-right:30px;
}
.footer-meta-inner{
float:none;
}
.warning_message_image{
float:left;
padding-bottom: 0px;
}

.warning_message_image_long{
float:left;
padding-bottom: 80px;
}


.custom-banner {
	padding: 15px 15px 0 20px;
	background-color: #fabb9c !important;
}
.custom-banner .button {
	margin-top:10px;
}
.custom-banner p {
	padding: 0 !important;
}
#nextHref {
	text-decoration:none;
}
.noborder-bottom {
	border-bottom:none !important;
}
.noborder-all {
	border:none;
}

/* Upload CSS  */
#dragandrophandler {
	border: none;
	background-color: #E2E2E2;
	width: auto;
	min-height: 70px;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	padding: 40px 10px 10px 10px;
	margin-bottom: 0px;
	font-weight: bold;
	-webkit-box-shadow: 0 2px 0 #003518;
	-moz-box-shadow: 0 2px 0 #003518;
	box-shadow: 0 2px 0 #003518;
}
.progressBar {
	width: 200px;
	height: 22px;
	/*border: 1px solid #ddd;
			border-radius: 5px; */
	overflow: hidden;
	display: inline-block;
	margin: 0px 20px 5px 5px;
	vertical-align: top;
}
.progressBar div {
	height: 100%;
	/*color: #fff;*/
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;/*background-color: #0ba1b5; border-radius: 3px; */
}
.statusbar {
	border-top: 1px solid #A9CCD1;
	min-height: 25px;
	width: auto;
	padding: 10px 10px 0px 10px;
	vertical-align: top;
	font-size: 0.9em;
}
.statusbar:nth-child(odd) {
	background: #EBEFF0;
}
.filename {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}
.filesize {
	display: inline-block;
	vertical-align: top;
	color: #30693D;
	width: 100px;
	margin-left: 10px;
	margin-right: 5px;
}
.abort, .delete {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	padding-left: 0px;
	cursor: pointer;
	vertical-align: top;
	text-decoration: underline;
	color: #005ea5;
}
.title-upload {
	color: #0b0c0c !important;
	font-weight: bold;
	background: #BFC1C3 !important;
	border: none !important;
}
.breadcrumb ol {
	border-top: 10px solid #005ea5;
}

#banner-notification {
	background-color:#a1acb2;
	border-top:2px solid white;
	padding:10px;
	margin-bottom:15px;
	text-align:center;
	}

#banner-notification div {
	font-family:"nta",Arial,sans-serif;
	/*font-size:19px;*/
	line-height:1.31579;
	font-weight:400;
	text-transform:none;
	color:#fff;
	margin:0 auto;
	/*padding:0.5em 0;*/
	max-width:1020px;
	overflow:hidden
}

@media (max-width: 640px){
#banner-notification div {
	font-size:16px;
	line-height:1.25
	}
	}

#banner-notification h1{
	margin-top:30px;
	margin-bottom:15px;
	color:#fff;
	font-family: "nta", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.11111;
	font-weight: 400;
	text-transform: none;
	font-weight:700;
	}

#banner-notification p {
	margin-bottom:30px;
	color:#fff;
	font-weight: 400;
	text-transform: none;
	font-weight:700;
	font-size:19px;
	}

@media (max-width: 640px){
#banner-notification{
	padding:0.5em 1em
	}
	}

#banner-notification.green{
	background:#28a197
	}

#banner-notification.red{
	background:#b10e1e
	}

.tick{
	padding-bottom:10px;
	padding-right:10px;
	}

.refnum{
	color:#fff;
	display:block;
	margin-top:0px;
	font-family: "nta", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.11111;
	font-weight: 400;
	text-transform: none;
	font-weight: 700;
	margin-bottom: 10px;
	}

.readers {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  }

.inline-date{
	display:inline-block;
	padding-right:10px;
	}

.inline-date label{
	display:block;
	}

#content {
	padding-bottom: 20px; }

a[rel="external"]:after {
  background-position:5px 0px;
  padding: 0px 5px 0px 0px;
  }

a[rel="external"]:hover:after{
	background-position:5px 0px;
	padding: 0px 5px 0px 0px;
	}

details table{
  margin-bottom:35px; }

 .chkbox{
	margin-left:1em;
	}

.noborder td{
	border:none;
	}

/*.js-enabled .selected {
	outline: 3px solid #ffbf47;
}*/

.dd19{
	font-size:19px
	}

table{
	margin-bottom:30px;
	}

.reporting-hint{
	color:#52585a;
	}

table.error tr {
	vertical-align:top;
	}

table.error tr td, tr th{
	font-size:16px;
	}
#errorTableHeader {
	max-width: 930px;
}

.spacing p{
	padding-top:30px;
	}

#viewSummaryLink {
	text-decoration:underline;
}

h2 a.link-text{
	text-decoration:none;
	color:#0B0C0C;
	cursor:text;
	}

.sticky-wrapper {
	height: 0px !important;
}

.showNilReturnText{
	color:#BFC1C3;
	text-decoration:underline;
	}

.inactiveperiod{
	color:#BFC1C3;
	}

/* Drop 1 */

#dragandrop {
	border: solid 3px;
	border-color:#DEE0E2;
	background-color: #DEE0E2;
	width: auto;
	min-height: 70px;
	color: #000000;
	text-align: center;
	/*vertical-align: middle;*/
	padding: 40px 10px 10px 10px;
		margin-top:30px;
	font-weight: bold;
	/*
	-webkit-box-shadow: 0 2px 0 #003518;
	-moz-box-shadow: 0 2px 0 #003518;
	box-shadow: 0 2px 0 #003518;*/
}

.validationerrorsmsg {
	border-left: 3px solid red;
	padding-left: 10px;
	margin-top: 30px;
	color:#df3034;
	font-weight:bold;
	}

.validationerrorsmsg2 {
	padding-left: 10px;
	margin-top: 10px;
	color:#df3034;
	font-weight:bold;
	}

.hiddenform {
	display:none;
	}

.drag{
	display:block;
	padding-bottom:5px;
	}

.statusbar2 {
	border-top: none;
	border-bottom:1px solid #BFC1C3;
	border-left: 4px solid #fff;
	min-height: 25px;

	width: auto;
	padding: 10px 0px 0px 10px;
	vertical-align: top;
	font-size: 16px;
}

.statusbar3 {
	border-left: 3px solid red;
	}

.statusbar2-title {
	font-weight:600;
	}

.filename2 {
	display: inline-block;
	vertical-align: top;
	width: 190px;
	min-height:25px;
	max-height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}

.progressBar2 {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	overflow: hidden;
}

.progressBar2error {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	overflow: hidden;
	/*margin: 0px 5px 5px -5px;*/
	color:#df3034;
	font-weight:bold;
}

.abort2, .delete2 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	padding-left: 0px;
	cursor: pointer;
	vertical-align: top;
	text-decoration: underline;
	color: #005ea5;
	margin-left:25px;
}

.actionsh {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	margin-left: 25px;
}

.actionrow{
	display:inline-block;
	margin-left:25px;
		}

.browsebutton, .browsebutton div, .browsebutton button{
	display:inline-block;
	font-size:19px;
	padding-left: 5px;
	}

.browsebutton{
	border-left: 3px solid red;
	margin-bottom:15px;
	}

.browsebutton p{
	margin-bottom:5px;
	}

.browsebutton validationerrorsmsg{
	border-left:none;
	}

.browsereportname{
	width: 190px;
	vertical-align:middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}



.alert-tag {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px 10px;
  padding: 5px 5px 5px 5px;
  font-family: nta, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #b10e1e;
}

.alert-tag-side {
  display: inline-block;
  vertical-align: center;
  margin: 0px 0px 0px 10px;
  padding: 5px 5px 5px 5px;
  font-family: nta, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #b10e1e;
}


/*TABS*/
.main-nav {
  border-bottom: 1px solid #ccc;
  margin: 1.5em 0 1.5em 0;
}
.main-nav .tab {
  display: inline-block;
  padding: 12px 20px;
  font-size: 19px;
  position: relative;
}
.main-nav .tab.selected {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 12px 19px 13px 19px;
  background: #fff;
  text-decoration: none;
  color: #000;
  margin-bottom: -1px;
  line-height: 28px;
}

/* TABS TWO */

.tab-nav {
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0.75em 0;
  display: flex; }

.tab-nav .tab {
  display: inline-block;
  padding: 12px 20px;
  font-size: 19px;
  position: relative; }

.tab-nav .tab.selected {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 12px 19px 13px 19px;
  background: #fff;
  text-decoration: none;
  color: #000;
  margin-bottom: -1px;
  line-height: 28px; }

.tab-nav a {
  background-color: #dee0e2;
  border: 0;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0.45em;
  text-decoration: none; }

.tab-nav .tab .count {
  display: inline-block;
  background: #b10e1e;
  color: #fff;
  padding: 7px 0.5em 5px;
  margin-left: 10px;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px; }


  /*SHOW/HIDE ACCORDION*/

.accordion {
  margin-bottom: 30px; }

.accordion dt {
  width: 100%;
  margin-bottom: 0; }

.accordion dd {
  width: 100%; }

.accordion dt span.title, .accordion dt span.title-2, .accordion dt span.title-3, .accordion dt span.title-4, .accordion dt span.arrow, .accordion dt span.acc-title {
  clear: both;
  float: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #2b2b2b;
  text-decoration: none;
  color: #005ea5;
  cursor: pointer; }

.accordion dt span.arrow {
  padding: 15px 10px;
  background: url(../../public/images/icons/accordian-arrow.png) no-repeat 97% -50%;
  border-top: 2px solid #BFC1C3; }

.accordion dt span.acc-title {
  padding: 15px 0 15px 10px;
  border-top: 1px solid #BFC1C3; }

.accordion dt span.title-2 {
  border-top: 5px solid #BFC1C3;
  padding: 15px 0; }

.accordion dt span.title-3, .accordion dt span.title-4 {
  padding: 15px 0;
  border-top: 3px solid #BFC1C3; }

.accordion dt span.title-2, .accordion dt span.title-3, .accordion dt span.title-4 {
  color: #0b0c0c; }

.accordion dt {
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0; }


.accordion dt.active {
  background: #dee0e2; }

.accordion {
  border-bottom: 1px solid #FFFFFF; }

.accordion dd {
  float: left;
  margin-bottom: 10px;
  padding: 0 12px 24px 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.accordion dd.hybrid, .accordion dd.hybrid-2 {
  padding-top: 15px; }

.accordion dd.hybrid-2 {
  background: #f8f8f8; }

.accordion p.short {
  margin-bottom: 0;
  color: #0b0c0c; }

.title-3 .accordion-number strong, .title-4 .accordion-number strong {
  font-size: 36px;
  line-height: 1.04167;
  font-weight: 700;
  color: #005ea5;
  margin-bottom: 5px; }


.accordion .panel-indent {
  margin: 0; }


 .reporting-period{
	border-bottom:1px lightgray solid;
	border-top:0px;
	}

summary.heading-24 {
	margin-top:15px;
	}

.reporting-period h2{
	margin-top:20px;
	}

.alert {
    padding: 10px 0 8px 0;
}
  @media (min-width: 641px) {
  .alert{
    padding-top: 4px;
    padding-bottom: 10px;

}
  .alert {
    margin: 0;
    margin-bottom: 30px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
 	padding-left:15px;
    line-height: 1.25;
    text-transform: none;
     color: #0B0C0C;
    background-color: #FDED95;
    border-style: solid;
    border-width: 2px;
    border-color: #F2C933;
     }

     .alert p{
     	margin-top: 0px;
     	margin-bottom: 0px;
     }
     .alert p.second{
	margin-top: 15px;
     }
 }

table.cookie tr {
	vertical-align:top;
	}

table.cookie tr td, tr th{
	font-size:16px;
	}

.error-tag {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  line-height: 1.25;
  font-size: inherit;
  font-weight:600;
  text-decoration: none;
  color: #fff;
  background-color: #b10e1e;
}

/*BLUE UNDERLINE*/



.moody-blue {
  padding: 20px 0 10px 0;
  margin-top: 5px;
  margin-bottom: 5px;
}


.moody-blue h1, .moody-blue .h1-heading {
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 5px solid #005ea5;
  margin-bottom: 0px;
  margin-right: 100px;

}

.moody-blue h2, .moody-blue .h2-heading {
  font-size: 36px;
  padding: 0;
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 5px solid #005ea5;
  margin-bottom: 10px;
}


.navigation-right {
  margin-top: 0px;
  margin-right: 0px;
  border-top: none;
}


.navigation-right h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 600;
  color: #0b0c0c;
  border-top: 5px solid #005ea5;
  padding-top: 24px;
  margin-top: -20px;
  margin-bottom: 0px;
  position: relative;
}

  /*TEAL LABEL*/
  label.teal-radio-inline, label.checkbox-inline, label.teal-radio, label.checkbox {
  	display: inline-block;
  	float: none;
    clear: none;
  	position: relative;
  	background: #dee0e2;
  	margin-right:7px;
  	cursor:pointer;
  	font-weight:400;
  	padding:35px 30px 35px 15px;
  	margin-bottom: 20px;
  	}

  label.teal-radio-inline.checked, label.checkbox-inline.checked, label.teal-radio.checked, label.checkbox.checked {
   background-color:#28A197;
   border-color: #0b0c0c;
   color:#fff;

   }
