{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <h1 class="heading-xlarge">
    <span id="title">Choose your file</span>
  </h1>
	<p class="lede">You must <a href="http://data-returns-help.herokuapp.com/" rel="external" target="_blank">format your data</a> to meet Environment Agency standards then save as <abbr title="Comma-separated values">CSV</abbr></p>
	<details class="help-csv">
	  <summary><span class="summary">What's a CSV?</span></summary>
	  <div class="panel panel-border-wide">
	    <p>CSV (comma separated values) format is used to move data between otherwise incompatible applications. Use &lsquo;Save as&rsquo; - usually under the File tab - in spreadsheet software to create a CSV version of your file.</p>
	  </div>
	</details>
	
  {{#uploadError}}
  <div id="Validation-Summary" class="error-summary">
    <h1 class="heading-medium error-summary-heading">The file you selected cannot be sent</h1>
    {{{errorMessage}}}
  </div>
  {{/uploadError}}

  <div id="Validation-Summary-empty-file" class="error-summary" style="display:none" >
    <h1 class="heading-medium error-summary-heading">The file you selected cannot be sent</h1>
    <h2 class="heading-small">! Your file is empty<h2>
    <p>Make sure you’ve submitted the right file and try again.</p>
  </div>

  <div id="Validation-Summary-not-csv-file" class="error-summary" style="display:none">
    <h1 class="heading-medium error-summary-heading">The file you selected cannot be sent</h1>
    <h2 class="heading-small">! Your file isn’t saved as CSV</h2>
    <p>Save your file as CSV and try again.</p>
    <div class="panel panel-border-wide">
      <p>CSV (comma separated values) format is used to move data between otherwise incompatible applications. Use &lsquo;Save as&rsquo; - usually under the File tab - in spreadsheet software to create a CSV version of your file.</p>
    </div>
  </div>

	<div class="text">
    <div class="well">
      <div id="statusbar-header" style="display:none; width:100%; box-sizing:border-box;">
        <div class="statusbar2 statusbar2-title" style="width: 100%; display: block;">
          <div class="filename2" style="width:70%; display:inline-block;">Name of data file to be checked
          </div>
          <div class="delname2" style="width:30%; display:inline;">Action</div>
        </div>
        <div class='statusbar2 odd' style='width: 100%;'>
          <div class='filename2 file-label' style='width: 70%; display:inline-block;'></div>
          <div class='delname2 del-label' style='width: 30%; display:inline;'></div>
        </div>
      </div>

      <div class="upload-file">
        <p class="file-display"></p>

        <form id="uploadForm" Content-Type="text/csv" enctype="multipart/form-data" method="post">
          <div class="fancy-file-button button-choose-file button-secondary">
            <span class="browse-text" style="display:none;">Choose file</span>
            <input id="file-select-button" type="file" name="fileUpload" style="width: 100%;">
          </div>
          <p>
            <input id="check-for-errors-btn" class="button" type="submit" value="Continue" name="submit">
            <span style="display:none" class="checking">Checking your file...<span class="loading"><img src="/public/images/icons/loader.gif"></span></span>
          </p>
        </form>
      </div>
      <!-- /.upload-file -->
    </div>
    <!-- /.well -->
  </div>
  <!-- /.text -->
</main>

{{/content}}

{{/layout}}
