{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form">
    <h1 class="heading-xlarge">Confirm your file</h1>
    <div class="error-summary permit-not-found" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none;">
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        Your EA unique identifier (EA_ID) isn’t recognised
      </h1>
      <p>Check that the reference you’ve given is:</p>
      <ul class="list list-bullet">
      	<li>either 2 letters and 4 numbers (EPR permits) or a 5- or 6-figure number (older waste management licences)</li>
      	<li>without separators, eg, slashes, or any exotic characters</li>
      	<li>exactly the same as given in your original permit, licence or mineral extractions agreement</li>
      </ul>
      <p><a href="http://data-returns-help.herokuapp.com/help/detailed-guides/regime-specific-rules" rel="external" target="_blank">Find out more about how to submit the correct EA_ID</a></p>
				<p><a href="http://data-returns-help.herokuapp.com/" rel="external" target="_blank">Find out about formatting all your data to meet EA standards</a></p>
    </div>

		<div class="text multi-panel">
      <p class="lede">The data returns file you’re going to send is about:</p>

			<div class="panel panel-border-wide">
        <h2 class="heading-small">Site</h2>
        <p><span class="address-1">{{returnMetaData.siteName}}</span></p>
	    </div> 
        
      <div id="permit_found" class="panel panel-border-wide permit">
        <h2 class="heading-small"><span>Permit number</span></h2>
        <p><span class="result">{{returnMetaData.eaId}}</span> 
          <!--<span class="checking">(Checking <span class="loading"><img src="/public/images/icons/loading.svg"></span>)</span>--></p>
      </div>
        
      <div id="permit_not_found" class="panel panel-border-wide permitnotfound permit" style="display: none;">
      	<div class="error">
        	<h2 class="heading-small"><span class="not-recognised error-message">Permit number not recognised</span></h2>
        	<p><span class="result">{{returnMetaData.eaId}}</span> </p>
      	</div>
      </div>
      
	    <div id="permit_found" class="panel panel-border-wide permit">
	      <h2 class="heading-small">Return type</h2>
	      <p>{{returnMetaData.returnType}}</p>
	    </div>
		</div>
		
      <details class="help-text-reg">
        <summary><span class="summary">These details aren’t right</span></summary>
        <div class="panel panel-border-wide">
          <p>Do you need to choose a different file? <a href="/02-send-your-data/01-upload-your-data">Start again</a> so you can submit the right file and details.
            <!--<li><a href="#" onclick="alert('Not yet implemented!');return false;">follow your normal route</a></li>-->
          </p>
        </div>
      </details>

      <!-- Primary button -->
      <div class="form-group confirmed" >
        <input type="button" class="button" value="Confirm and check file" onclick="location.href = '/02-send-your-data/06-check';">
      </div>
     <!-- <div class="form-group checking" style="display:none">
        <input type="submit" class="button" value="Please wait" disabled="disabled">
      </div>-->
    </div><!-- /text -->
  </form>
  <div class="form-group permit-not-found" style="display:none">
    <input type="submit" class="button" value="Start again" onclick="location.href = '/02-send-your-data/01-upload-your-data';">
  </div>
</main> 

{{/content}}

{{/layout}}
