{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner beta-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <form method="get" class="form" action="/02-send-your-data/04-verification">
  	<h1 class="heading-xlarge">File ready to be sent</h1>
  	<div class="text">
      <p class="lede">Your file has been checked and is ready to be sent.</p>
				<div class="text panel-indent">
					<p>{{result.fileName}}</p>
				</div>
				
				<p>We require a valid email address to confirm submission.</p>
				<p>Enter your email and we’ll send you a code.</p>

				<div class="form-group">
			    <label class="form-label" for="email">Email address</label>
			    <input class="form-control" id="email" name="user_email" type="text">
			  </div>
	
				<p>
					<a id="nextHref">
						<input type="submit" id="nextBtn" class="button" value="Send authentication email">
					</a>
				</p>
				
				<p>Go back and <a href="/02-send-your-data/01-upload-your-data">send another file</a></p>
			</div><!-- /text -->
		</form>
</main> 

{{/content}}

{{/layout}}
