{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your
				<a href="#">feedback</a>will help us to improve it.</span>
		</p>
	</div>
	<form method="post" class="form">
		<h1 class="heading-xlarge">Enter your code</h1>
		
		{{#invalidPin}}
		<div class="error-summary">
			<h1 class="heading-medium error-summary-heading">Your code doesn’t work</h1>
			<p>{{{errorMessage}}}</p>
			<p>We sent a confirmation code to your email address</p>
			<details class="help-confirmation-code">
			  <summary><span class="summary">What’s a confirmation code?</span></summary>
			  <div class="panel panel-border-wide">
			    <p>This is a 4-digit code for you to enter in your browser. We use it to confirm your email address is correct so you can and send your data returns file and get a receipt.</p>
			  </div>
			</details>
			<p>Check you’ve entered the right code in your browser. Try again.</p>
			<p>Check that you’ve entered the code within 24 hours of getting the email. If your code has expired you need to start again.</p>
		</div>
		{{/invalidPin}}
		
		<div class="text">
			<p class="lede">Enter the confirmation code we sent to your email address.</p>
			<div class="form-group">
				<label class="form-label" for="validation-code">Authentication code
					<span class="form-hint">eg: 1234</span>
				</label>
				<input class="form-control validation-code" id="validation-code" name="validation_code" type="text">
			</div>
			<div class="form-group">
				<a id="nextHref">
					<input type="submit" id="nextBtn" class="button" value="Send code">
				</a>
			</div>
		</div>
		<!-- /text -->
	</form>
</main>

{{/content}}

{{/layout}}
