{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{{feedbackbanner}}}
  <form method="post" class="form">
    <h1 class="heading-xlarge">Enter your code</h1>

    {{#invalidPin}}
    <div class="error-summary">
      {{{errorMessage}}}
      <hidden id="error_code" value="{{errorcode}}" ></hidden>
    </div>
    {{/invalidPin}}

    <div class="text">
      <p class="lede">Enter the confirmation code we sent to your email address.</p>
      <div class="form-group">
        <label class="form-label" for="validation-code">
          <span class="form-hint">eg, 1234</span>
        </label>
        <input class="form-control validation-code" id="validation-code" name="validation_code" type="text" autocomplete="off" >
      </div>
      <div class="form-group">
        <a id="nextHref">
          <input type="submit" id="nextBtn" class="button" value="Send code">
        </a>
      </div>
    </div>
    <!-- /text -->
  </form>
</main>

{{/content}}

{{/layout}}
