{{<layout}}

{{$pageTitle}}
	Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form">
  	<h1 class="heading-xlarge">Send your file</h1>
  	<div class="text">
      <p class="lede">Send your file now and we’ll email you a receipt.</p>
			<div class="text panel panel-border-wide">
				<p>{{filename}}</p>
			</div>

			<div class="help-notice">
				<p>By sending this data file, you confirm that the information you’ve given is correct and complete.</p>
			</div>

			<div class="form-group">
				<a id="nextHref">
					<input type="submit" id="nextBtn" class="button" value="Accept and send file">
				</a>
			</div>
		</div><!-- /text -->
	</form>
</main> 

{{/content}}

{{/layout}}
