{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
	
  
 <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
	
	<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
		Make corrections
	</h1>
	
	<p>Before you can send {{fileName}} you need to make corrections:</p>
	
	</div>
  
  {{#uploadError}}
  <div class="error-table">
    <!-- <h2 class="heading-small">Errors found in 'failures.csv' - </h2> -->
    <!-- For fixed header positioning only for Sticky JS -->
    <table id="errorTableHeader" class="error-table">
      <thead>
        <tr>
          <th width="10%">Column</th>
          <th width="15%">Error</th>
          <th width="70%">How to make corrections</th>
        </tr>
      </thead>
      <tbody>
        {{#lineErrors}}
        <tr>
          <td><abbr title="{{{columnName}}}">{{{columnName}}}</abbr></td>
          <td>{{{errorColumnText}}}</td>
          <td>
            <p>{{{errorMessage}}}</p>
            <p>See <a href="/02-send-your-data/10-error-detail?groupid={{groupID}}" >full details</a> on how to make corrections.</p>		
          </td>
        </tr>
        {{/lineErrors}}
        {{/uploadError}}
      </tbody>
    </table>
  </div>	
</div>


<div class="text"><p>You must correct any errors before this file can be sent to the Environment Agency.</p></div>

<form action="/02-send-your-data/01-upload-your-data" class="form" method="get">
  <div class="form-group">
    <input type="submit" value="Start again" class="button">
  </div>
</form>
</main> 

{{/content}}

{{/layout}}
