{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{{feedbackbanner}}}


  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    {{{errorsummary}}}
  </div>

  {{#uploadError}}
  <div class="error-table">
    <table id="errorTableHeader" class="error-table">
      <thead>
        <tr>
          <th width="12%">Column</th>
          <th width="13%">Error</th>
          <th width="40%">Correction</th>
          <th width="35%">More help</th>
        </tr>
      </thead>
      <tbody>
        {{#lineErrors}}
        <tr>
          <td><abbr title="{{definition}}">{{columnName}}</abbr><hidden id="{{columnName}}_error_code" value="{{errorCode}}"></hidden></td>
      <td title="Error Code:{{errorCode}}">{{errorType}}</td>
      <td>
        {{{errorMessage}}}
        <p><a href="/02-send-your-data/10-error-detail?groupid={{groupID}}" >See details of which rows to correct</a>.</p>

      </td>
      <td>
        {{{moreHelp}}}
      </td>
      </tr>
      {{/lineErrors}}
      {{/uploadError}}
      </tbody>
    </table>
  </div>	
</div>


<div class="text"><p>You must correct any errors before this file can be sent to the Environment Agency.</p></div>

<form action="/02-send-your-data/01-choose-your-file" class="form" method="get">
  <div class="form-group">
    <input type="submit" value="Start again" class="button">
  </div>
</form>
</main> 

{{/content}}

{{/layout}}
