{{<layout}}

{{$pageTitle}}
Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{{feedbackbanner}}}

  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    {{{errorSummary}}}
    <hidden id="error_code" value="{{errorCode}}"></hidden>
  </div>

  <p class="back">
    <a class="button" href="/02-send-your-data/09-errors">Back to corrections table</a>
  </p>

  <table id="errorTableHeader">
    <thead>
      <tr>
        <th width="50%">Error</th>
        <th width="50%">Row(s)</th>
      </tr>
    </thead>
    <tbody>
      {{#data}}  
      <tr>
        <td>{{errorValue}}</td>
        <td>{{rowNumberText}}</td>
      </tr>
      {{/data}}
    </tbody>
  </table>

  <!-- grid-row -->

</main>

{{/content}}

{{/layout}}