{{<layout}}

{{$pageTitle}}
	Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form">
		<h1 class="heading-xlarge">Send landfill data returns</h1>
		
		<div class="text">
			<div class="form-group">
				<p class="lede">Use this service to send data returns to the Environment Agency (England only) about:</p>
				<ul class="list list-bullet">
					<li><a href="https://www.gov.uk/government/collections/environmental-permitting-landfill-sector-technical-guidance" rel="external" target="_blank">landfill emissions</a></li>
				</ul>
			  <div class="panel panel-border-wide">
			    <p>Report schedule 5 and 6 events directly to your local regulatory team or allocated Site Inspector.</p>
			  </div>
			</div>

		  <!-- Primary button -->
			<div class="form-group">
				<input type="submit" class="button button-get-started" name="sub-button" value="Start now" id='start-button'>
			</div>
			
			<div class="before-you-start">
				<h2 class="heading-large">Before you start</h2>
				<p>Read guidance on how to format your data to meet Environment Agency (EA) requirements.</p>
				<p><a href="http://data-returns-help.herokuapp.com/" rel="external" target="_blank">How to format Environment Agency data</a></p>
				<p>To use this service you must:</p>
				<ul class="list list-bullet">
					<li>save your data as a CSV file<br>
						<details class="help-csv">
						  <summary><span class="summary">What's this?</span></summary>
						  <div class="panel panel-border-wide">
						    <p>CSV (comma separated values) format is used to move data between otherwise incompatible applications. Use &lsquo;Save as&rsquo; - usually under the File tab - in spreadsheet software to create a CSV version of your file.</p>
						  </div>
						</details>
					</li>
					<li>give your email address for confirmation that you’ve sent your data</li>
				</ul>
				<div class="panel panel-border-wide">
					<p>Remember: when you send your data file you’re agreeing that the data you’ve submitted is correct and complies with requirements set out in your permit or licence.</p>
				</div>
			</div>
		</div>
			
			
		<h2 class="heading-large">Scotland, Wales and Northern Ireland</h2>
		<div class="text">
			<p>Find out about your responsibilities in:</p>
			<ul class="list list-bullet">
				<li>Scotland</li>
				<li>Wales</li>
				<li>Northern Ireland</li>
			</ul>
		</div>

			<!--
			<div class="before-you-start">
				<h2 class="heading-large">Before you start</h2>
				
				<p>You'll need</p>
				<ul class="list-bullet">
					<li>A CSV file containing your data
						<details class="help-csv">
						  <summary><span class="summary">What is a CSV file?</span></summary>
						  <div class="panel panel-border-wide">
						    <p>CSV (comma separated values) format is widely used to move data between otherwise incompatible applications. In an Excel spreadsheet, for example, you can use ’Save as’ to create a CSV version of your file.</p>
						  </div>
						</details>
					</li>
					<li>An email address</li>
					</ul>
					
			    <p>Your file should be formatted according to our data rules.</p>
			    
			    <img class="img-responsive" alt="" src="/public/images/sample-csv.png">
			    
			    <div class="helpful-documents">
			    
				    <h2 class="heading-medium">Helpful documents</h2>
				    
				    <section class="attachment embedded" id="attachment">
				    	<div class="attachment-thumb">
				    		<a aria-hidden="true" class="thumbnail" href="/public/resources/sample.csv"><img alt="" src="/public/images/pub-cover-spreadsheet.png"></a>
				    	</div>
				    	<div class="attachment-details">
				    		<h2 class="title"><a aria-describedby="attachment" href="/public/resources/sample.csv">Data rules for how to format your data return</a></h2>
				    		<p class="metadata">
				    				<span class="type"><abbr title="Comma Separated File">PDF</abbr></span>, <span class="file-size">7.5KB</span>
				    		</p>
				    	</div>
				    </section>
				    
				    <br>
				    
				    <section class="attachment embedded" id="attachment">
				    	<div class="attachment-thumb">
				    		<a aria-hidden="true" class="thumbnail" href="/public/resources/sample.csv"><img alt="" src="/public/images/pub-cover-spreadsheet.png"></a>
				    	</div>
				    	<div class="attachment-details">
				    		<h2 class="title"><a aria-describedby="attachment" href="/public/resources/sample.csv">Data returns file structure template</a></h2>
				    		<p class="metadata">
				    				<span class="type"><abbr title="Comma Separated File">CSV</abbr></span>, <span class="file-size">0.5KB</span>
				    		</p>
				    	</div>
				    </section>
				  </div> 
				-->
			</div>
		</div><!-- /text -->
	</form> 
</main> 

{{/content}}

{{/layout}}
