{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>
  <form method="post" class="form text" action="/01-start/01-start">
	
		<h1 class="heading-xlarge">Manage your data returns</h1>
		
		<div class="form-group">
			<p class="lede">Use this service to send the Environment Agency your pollution inventory and landfill emissions data.</p>
		
			<details class="help-text-reg">
			  <summary><span class="summary">Why only pollution inventory and landfill emissions data?</span></summary>
			  <div class="panel-indent">
			    <p>{ Explains this is a beta service where customers can only return their pollution inventory and landfill emissions data. }</p>
			  </div>
			</details>
		</div>
		
			<!-- Primary button -->
		<div class="form-group">
			<input type="submit" class="button button-get-started" name="sub-button" value="Start now">
		</div>
		
		<h2 class="heading-large">Before you start</h2>
		<p>You'll need:</p>
		<ul class="list-bullet">
			<li>an email address and password to create or sign in to your account</li>
			<li>your permit number</li>
			<li>your data file (in CSV format only)</li>
		</ul>
		
		<details class="help-text-csv">
		  <summary><span class="summary">Why only CSV format?</span></summary>
		  <div class="panel-indent">
		    <p>CSV (Comma Separated Values) Format is widely used to move data between otherwise incompatible applications</p>
		  </div>
		</details>
		
		<h2 class="heading-large">How to structure your CSV file</h2>
		<p>The file must comprise of:</p>
		<ul class="list-bullet">
			<li>a header row containing the field names</li>
			<li>the fields sequenced in the field number order indicated</li>
		</ul>		
		
		<div class="documentation">
			<h3 class="heading-medium">Data return guidance</h3>
			
			<h4 class="heading-small">Guidance to format your data return</h4>
			<section class="attachment embedded" id="attachment">
				<div class="attachment-thumb">
					<a aria-hidden="true" class="thumbnail" href="/public/resources/ub-csv-format-guidance.pdf"><img alt="" src="/public/images/pub-csv-format-guidance.png"></a>
				</div>
				<div class="attachment-details">
					<h2 class="title"><a aria-describedby="attachment" href="/public/resources/Data-Returns-File-structure.pdf">Guidance to format your data return</a></h2>
					<p class="metadata">
							<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">54KB</span>
					</p>
				</div>
			</section>
			
			<h4 class="heading-small">Download a sample CSV template file</h4>
			<section class="attachment embedded" id="attachment">
				<div class="attachment-thumb">
					<a aria-hidden="true" class="thumbnail" href="/public/resources/sample.csv"><img alt="" src="/public/images/pub-cover-spreadsheet.png"></a>
				</div>
				<div class="attachment-details">
					<h2 class="title"><a aria-describedby="attachment" href="/public/resources/sample.csv">Data returns file structure template</a></h2>
					<p class="metadata">
							<span class="type"><abbr title="Comma Separated File">CSV</abbr></span>, <span class="file-size">0.5KB</span>
					</p>
				</div>
			</section>
		</div>
		
		
		
	</form>
	
</main> 

{{/content}}

{{/layout}}
