{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form" action="/01-start/02-what-would-you-like-to-do">
	
		<h1 class="heading-xlarge">What would you like to do?</h1>
		
		<div class="text">
		
			<!--	<fieldset>
					<div class="form-group">
					  <label class="block-label" for="radio-inline-1">
					    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="check-data">
					    Check the format of my data
					  </label>
					  <label class="block-label" for="radio-inline-2">
					    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="send-data">
					    Send my data to the Environment Agency
					  </label>
				  </div>
				</fieldset>
			-->
		
			<div class="form-group check">
				<p>Before you send your file, we can check that it’s in CSV format and that the data is correctly formatted.</p>
				<input type="submit" class="button button-secondary" name="sub-button" value="Check the format of my data" />
			</div>
			
			<!-- Primary button -->
			<div class="form-group send">
				<p>If your file is ready to send, you can do this now.</p>
				<input type="submit" class="button" name="sub-button" value="Send my data to the Environment Agency" />
			</div>
		</div><!-- /text -->
	</form>
	
</main> 

{{/content}}

{{/layout}}
