{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

  <form method="post" class="form text" action="/01-start/02-what-would-you-like-to-do">
	
		<h1 class="heading-xlarge">What would you like to do?</h1>
		
		
		<!--	<fieldset>
				<div class="form-group">
				  <label class="block-label" for="radio-inline-1">
				    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="check-data">
				    Check the format of my data
				  </label>
				  <label class="block-label" for="radio-inline-2">
				    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="send-data">
				    Send my data to the Environment Agency
				  </label>
			  </div>
			</fieldset>
		-->
	
		<div class="form-group check">
			<p>Before submitting this data file, you can check whether the data is correctly formatted. You do this quickly without signing in.</p>
			<input type="submit" class="button button-secondary" name="sub-button" value="Check the format of my data" />
		</div>
		
		<!-- Primary button -->
		<div class="form-group send">
			<p>To send data you will need to have an account, and know your password and email address.</p>
			<input type="submit" class="button" name="sub-button" value="Send my data to the Environment Agency" />
		</div>
		
	</form>
	
</main> 

{{/content}}

{{/layout}}
