{{<layout}}

{{$title}}You must turn on browser cookies so you can use this service{{/title}}

{{$content}}
<main id="content" role="main">
    {{{feedbackbanner}}}
    <h1 class="heading-large"><span id="title">{{$title}}{{/title}}</span></h1>

    <div tabindex="-1" aria-labelledby="make-corrections" role="group" class="error-summary">
        <h1 id="make-corrections" class="heading-medium error-summary-heading"></h1>

        <p>Cookies are currently turned off in your web browser.</p>
        <p>You must turn on cookies so you can use this service. Find out <a href="{{links.Cookie_Guidance}}">how to turn on cookies</a>.</p>
        <p>If your employer does not allow you to change your browser settings, you should contact your own IT support.</p>
        <p>We use cookies to help keep your information secure while you use the service. Find out what <a href="/guidance/cookies.html">cookies we use</a>.</p>

    </div>
</main>
{{/content}}
{{/layout}}