Email subject:

Environment Agency: data file received

Email body: 



<p>The file [file_name] was received by the Environment Agency at [time] on [date].</p>

<p>We’ll now check it for quality and regulatory compliance.</p>

<p><strong>File details</strong></p>

<p><strong>Permit number</strong>: [permit_number]</p>

<p><strong>Site</strong>: [site_name]</p>

<p><strong>Return type</strong>: [return_type]</p>

<p><strong>Definition of monitoring period</strong>: [monitoring_period]</p>

<hr>

<p>
	<strong>The Environment Agency</strong><br>
	Telephone: 03708 506 506<br>
	Telephone from outside the UK: 00 44 1709 389 201 (Mon to Fri, 8am to 6pm)<br>
	Minicom service, for the hard of hearing: 03702 422 549 National Customer Contact Centre.<br>
	Email address: <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
	More contact details can be found at the <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">Environment Agency</a> on GOV.UK
</p>
