Email subject:

Environment Agency: data file received

Email body: 

<p>The file [file name] was received by the Environment Agency at [time] on [date].</p>

<p>We’ll now check it for quality and regulatory compliance.</p>

<p><strong>File details</strong></p>

<p>
	<strong>Permit number</strong></br>
	AB1234XZ
</p>

<p>
	<strong>Site</strong></br>
	ACME mobile plant
</p>

<p>
	<strong>Return type</strong></br>
	Pollution inventory
</p>

<p>
	<strong>Definition of monitoring period</strong></br>
	[monitoring period]
</p>

<hr>

<p>
	<strong>The Environment Agency</strong><br>
	Telephone: 03708 506 506<br>
	Telephone from outside the UK: 00 44 1709 389 201 (Mon to Fri, 8am to 6pm)<br>
	Minicom service, for the hard of hearing: 03702 422 549 National Customer Contact Centre.<br>
	Details of call charges can be found on the GOV.UK website<br>
	Online: Enquiry form<br>
	Email address: enquiries@environment-agency.gov.uk
</p>
