{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">ALPHA</strong>
			<span>This is a new service – your
				<a href="#" onclick="alert('Not yet implemented!');return false;">feedback</a> will help us to improve it.
			</span>
		</p>
	</div>
	<form method="post" class="form" action="{{result.errButtonAction}}">
		<div class="text">
			<h1 class="heading-xlarge">
				<span id="title">{{result.pageText}}</span>
			</h1>

			<p class="lede">Reason : {{result.message}}</p>

			<div class="form-group">
				<input type="submit" class="button" value="{{result.errButtonText}}">
			</div>
		</div>
	</form>
</main>

{{/content}}

{{/layout}}
	