{{<layout}}

{{$pageTitle}}
	Send your data returns online
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="phase-banner-beta">
	  <p>
	    <strong class="phase-tag">BETA</strong>
	    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

	<h1 class="heading-xlarge">Send your data returns online</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">From GOV.UK</h2>

	<ul>
		<li>
			<a href="/01-start/01-start">Start Data Returns</a>
		</li>
	</ul>
	
	<h2 class="heading-medium">Sample files for prototype</h2>
	
	<section class="attachment embedded" id="attachment">
		<div class="attachment-thumb">
			<a aria-hidden="true" class="thumbnail" href="/public/resources/sample.csv"><img alt="" src="/public/images/pub-cover-spreadsheet.png"></a>
		</div>
		<div class="attachment-details">
			<h2 class="title"><a aria-describedby="attachment" href="/public/resources/Data_returns_beta_test_files.zip">Data_returns_beta_test_files.zip</a></h2>
			<p class="metadata">
					<span class="type"><abbr title="Comma Separated File">ZIP</abbr></span>, <span class="file-size">31KB</span>
			</p>
		</div>
	</section>
	

	<div class="hidden">
	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>
	</div>
</main> 

{{/content}}

{{/layout}}
